{% extends 'base.html.twig' %}

{% block title %}
    Gestions des informations de controles
{% endblock %}

{% form_theme equipmentCategoryForm 'bootstrap_4_layout.html.twig' %}


{% block main %}
    <div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
        <a href="{{ path('homePanel') }}">
            <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
        </a>
        <h5>Mise à jour des contrôles</h5>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 pr-md-0">
            <div class="container">
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <h5>Gestions des controles des équipements</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                {{ flashMessage }}
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                {{ flashMessage }}
                            {% endfor %}
                        </div>
                        <table class="table table-striped">
                            <thead class="sticky-top bg-light">
                            <tr>
                                <th scope="col">Catégorie d'équipement</th>
                                <th scope="col">Accessoires</th>
                                <th scope="col">Ctrl Mise en Service</th>
                                <th scope="col">Ctrl périodique</th>
                                <th scope="col">Ctrl Remise en Service</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for category in allEquipementCategory %}
                                <tr class="rowCat">
                                    <td>{{ category.category }}</td>

                                    {% if category.accessories == true %}
                                        <td>
                                            oui
                                        </td>
                                    {% else %}
                                        <td>
                                            non
                                        </td>
                                    {% endif %}

                                    {% if category.hasCommissioningControl == true %}
                                        <td>
                                            oui
                                        </td>
                                    {% else %}
                                        <td>
                                            non
                                        </td>
                                    {% endif %}

                                    {% if category.hasPeriodicControl == true %}
                                        <td>
                                            oui
                                        </td>
                                    {% else %}
                                        <td>
                                            non
                                        </td>
                                    {% endif %}

                                    {% if category.hasReturnToServiceControl == true %}
                                        <td>
                                            oui
                                        </td>
                                    {% else %}
                                        <td>
                                            non
                                        </td>
                                    {% endif %}

                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pl-md-0">
            <div class="container">
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <h5>Ajouter une catégorie</h5>
                    </div>
                    <div class="card-body">
                        {% block form %}
                            {{ form_start(equipmentCategoryForm) }}

                            {{ form_row(equipmentCategoryForm.category) }}
                            {{ form_row(equipmentCategoryForm.accessories) }}
                            {{ form_row(equipmentCategoryForm.hasCommissioningControl) }}
                            {{ form_row(equipmentCategoryForm.hasPeriodicControl) }}
                            {{ form_row(equipmentCategoryForm.hasReturnToServiceControl) }}
                            <br>
                            <button id="newEquipementCategorySubmit" type="submit"
                                    class="btn btn-outline-primary btn-block">Ajouter la catégorie
                            </button>
                            {{ form_end(equipmentCategoryForm) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% block javascripts %}
        {{ parent() }}

    {% endblock %}

{% endblock %}

