{% extends 'base.html.twig' %}

{% block title %}Contrôle périodique {% endblock %}

{% block main %}
    <div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
        <a href="{{ path('startControl') }}">
            <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <h1 class="text-center">Contrôle {{ control.type }}  pour {{ control.controlEquipment.equipmentCategory.category }}</h1>
            </div>
            <div>
                <small>Procédure de contrôle conforme aux exigences des articles R233-11, R233-84 et L620.6 du code du travail,
                    à l'article L233-5-1, à l'arrêté du 1 mars 2004, à l'arrêté du 18 décembre 1992</small>
            </div>
            <div>
                <small> et aux normes NFE 52-086, NF 52-087, NF 52-088 et NF EN 12999</small>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="text-center"><b style="text-transform: uppercase">Grue Auxiliaire </b></div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Marque </td>
                                            <td> {{ control.controlEquipment.brand }}</td>
                                        </tr>
                                        <tr>
                                            <td>Modèle </td>
                                            <td> {{ control.controlEquipment.model }}</td>
                                        </tr>
                                        <tr>
                                            <td>N° série </td>
                                            <td>{{ control.controlEquipment.serialNumber }}</td>
                                        </tr>
                                        <tr>
                                            <td>Année de fabrication </td>
                                            <td>{{ control.controlEquipment.year }}</td>
                                        </tr>
                                        <tr>
                                            <td>Heures grue</td>
                                            <td><input id="hour" type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>CMU (Kg)</td>
                                            <td><input id="cmu" type="number" onChange="autoCompletionCMU()"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Stabilisateurs </td>
                                            <td><input id="stabGrueAux1" type="radio" name="stabGrueAux" value="oui"> Oui</td>
                                            <td><input id="stabGrueAux2" type="radio" name="stabGrueAux" value="non"> Non</td>
                                        </tr>
                                        <tr>
                                            <td>Grue forestière</td>
                                            <td><input id="forestiere1" type="radio" name="forestiere" value="oui"> Oui</td>
                                            <td><input id="forestiere2" type="radio" name="forestiere" value="non"> Non</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button id="auto" onclick="formulaireAuto()" class="btn btn-outline-primary btn-block">Préremplir le formulaire</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="text-center"><b style="text-transform: uppercase"> Véhicule </b></div>
                            </div>
                            <div class="card-body" >
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Marque</td>
                                            <td><input id="brandVehicule" type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>Immatriculation</td>
                                            <td><input id="immatriculation" type="text" ></td>
                                        </tr>
                                        <tr>
                                            <td>Kilométrage</td>
                                            <td><input id="km" type="number" ></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="text-center"><b> Plaques signalétiques </b></div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Plaque constructeur</td>
                                            <td><input id="plaque1" type="radio" name="plaque"> Oui</td>
                                            <td><input id="plaque2" type="radio" name="plaque"> Non</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Marquage CE</td>
                                            <td><input id="CE1" type="radio" name="CE"> Oui</td>
                                            <td><input id="CE2" type="radio" name="CE"> Non</td>
                                            <td><input id="CE3" type="radio" name="CE"> SO</td>
                                        </tr>
                                        <tr>
                                            <td>Plaque assembleur</td>
                                            <td><input id="plaqueAss1" type="radio" name="plaqueAss"> Oui</td>
                                            <td><input id="plaqueAss2" type="radio" name="plaqueAss"> Non</td>
                                            <td><input id="plaqueAss3" type="radio" name="plaqueAss"> SO</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <div class="text-center"><b style="text-transform: uppercase"> 1. Contrôle de la documentation</b></div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="manuel">Manuel d'utilisation</td>
                                            <td><input type="radio" id="manuel1" name="manuel" value="B"></td>
                                            <td><input type="radio" id="manuel2" name="manuel" value="D"></td>
                                        </tr>
                                        <tr>
                                            <td id="carnet">Carnet de maintenance</td>
                                            <td><input type="radio" id="carnet1" name="carnet" value="B"></td>
                                            <td><input type="radio" id="carnet2" name="carnet" value="D"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="certificat">Certificat de conformité</td>
                                            <td><input type="radio" id="certificat1" name="certificat" value="B"></td>
                                            <td><input type="radio" id="certificat2" name="certificat" value="D"></td>
                                            <td><input type="radio" id="certificat3" name="certificat" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="rapport">Rapport de mise en service</td>
                                            <td><input type="radio" id="rapport1" name="rapport" value="B"></td>
                                            <td><input type="radio" id="rapport2" name="rapport" value="D"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="lastControl">Dernier contrôle</td>
                                            <td><input type="radio" id="lastControl1" name="lastControl" value="B"></td>
                                            <td><input type="radio" id="lastControl2" name="lastControl" value="D"></td>
                                            <td><input type="radio" id="lastControl3" name="lastControl" value="SO"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <label for="date">Date dernier contrôle </label> <input id="date" type="date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <div class="text-center"><b style="text-transform: uppercase"> 2. Examen de l'état de conservation </b><b>(examen visuel)</b></div>
                    </div>
                    <div class="card-body">
                        <div class="row" id="conservation">
                            <div class="col-md-4">
                                <p class="text-center"><b>Structure stabilisateurs</b></p>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="fixation" data-val="Anomalie fixation">Fixation</td>
                                            <td><input type="radio" id="fixation1" name="fixation" value="B"></td>
                                            <td><input type="radio" id="fixation2" name="fixation" value="D"></td>
                                            <td><input type="radio" id="fixation3" name="fixation" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="oxydation" data-val="Oxydation sur stabilisateurs">Etat général oxydation</td>
                                            <td><input type="radio" id="oxydation1" name="oxydation" value="B"></td>
                                            <td><input type="radio" id="oxydation2" name="oxydation" value="D"></td>
                                            <td><input type="radio" id="oxydation3" name="oxydation" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="jeux" data-val="Anomalie jeux mecaniques">Jeux mécaniques</td>
                                            <td><input type="radio" id="jeux1" name="jeux" value="B"></td>
                                            <td><input type="radio" id="jeux2" name="jeux" value="D"></td>
                                            <td><input type="radio" id="jeux3" name="jeux" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="plaquettes" data-val="Anomalie plaquettes">Etat plaquettes d'usure</td>
                                            <td><input type="radio" id="plaquettes1" name="plaquettes" value="B"></td>
                                            <td><input type="radio" id="plaquettes2" name="plaquettes" value="D"></td>
                                            <td><input type="radio" id="plaquettes3" name="plaquettes" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="verrouillage" data-val="Anomalie verrouillage">Etat du verrouillage</td>
                                            <td><input type="radio" id="verrouillage1" name="verrouillage" value="B"></td>
                                            <td><input type="radio" id="verrouillage2" name="verrouillage" value="D"></td>
                                            <td><input type="radio" id="verrouillage3" name="verrouillage" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="futs" data-val="Choc ou fissures sur futs">Choc ou fissure sur fûts</td>
                                            <td><input type="radio" id="futs1" name="futs" value="B"></td>
                                            <td><input type="radio" id="futs2" name="futs" value="D"></td>
                                            <td><input type="radio" id="futs3" name="futs" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="tiges" data-val="Choc sur tiges">Choc sur tiges</td>
                                            <td><input type="radio" id="tiges1" name="tiges" value="B"></td>
                                            <td><input type="radio" id="tiges2" name="tiges" value="D"></td>
                                            <td><input type="radio" id="tiges3" name="tiges" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="bulles" data-val="Anomalie bulles d'inclinaison">Bulles d'inclinaison</td>
                                            <td><input type="radio" id="bulles1" name="bulles" value="B"></td>
                                            <td><input type="radio" id="bulles2" name="bulles" value="D"></td>
                                            <td><input type="radio" id="bulles3" name="bulles" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="semelles" data-val="Anomalie semelles">Semelles</td>
                                            <td><input type="radio" id="semelles1" name="semelles" value="B"></td>
                                            <td><input type="radio" id="semelles2" name="semelles" value="D"></td>
                                            <td><input type="radio" id="semelles3" name="semelles" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="axes" data-val="Anomalie des axes">Etat des axes</td>
                                            <td><input type="radio" id="axes1" name="axes" value="B"></td>
                                            <td><input type="radio" id="axes2" name="axes" value="D"></td>
                                            <td><input type="radio" id="axes3" name="axes" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="blocage" data-val="Anomalie blocage des axes">Blocage des axes</td>
                                            <td><input type="radio" id="blocage1" name="blocage" value="B"></td>
                                            <td><input type="radio" id="blocage2" name="blocage" value="D"></td>
                                            <td><input type="radio" id="blocage3" name="blocage" value="SO"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center"><b>Hydraulique stabilisateurs</b></p>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">B</th>
                                        <th scope="col">D</th>
                                        <th scope="col">SO</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="fuite" data-val="Fuite sur verins">Fuite sur vérins</td>
                                            <td><input type="radio" id="fuite1" name="fuite" value="B"></td>
                                            <td><input type="radio" id="fuite2" name="fuite" value="D"></td>
                                            <td><input type="radio" id="fuite3" name="fuite" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="verins" data-val="Anomalie fixation blocs sur verins">Fixation blocs sur vérins</td>
                                            <td><input type="radio" id="verins1" name="verins" value="B"></td>
                                            <td><input type="radio" id="verins2" name="verins" value="D"></td>
                                            <td><input type="radio" id="verins3" name="verins" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="tuyauterie" data-val="Anomalie tuyauterie">Tuyauterie</td>
                                            <td><input type="radio" id="tuyauterie1" name="tuyauterie" value="B"></td>
                                            <td><input type="radio" id="tuyauterie2" name="tuyauterie" value="D"></td>
                                            <td><input type="radio" id="tuyauterie3" name="tuyauterie" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="flexibles" data-val="Anomalie des flexibles">Etat des flexibles</td>
                                            <td><input type="radio" id="flexibles1" name="flexibles" value="B"></td>
                                            <td><input type="radio" id="flexibles2" name="flexibles" value="D"></td>
                                            <td><input type="radio" id="flexibles3" name="flexibles" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="fuiteDistri" data-val="Fuite sur distributeurs">Fuite sur distributeurs</td>
                                            <td><input type="radio" id="fuiteDistri1" name="fuiteDistri" value="B"></td>
                                            <td><input type="radio" id="fuiteDistri2" name="fuiteDistri" value="D"></td>
                                            <td><input type="radio" id="fuiteDistri3" name="fuiteDistri" value="SO"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-center"><b>Structure grue</b></p>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="fixationGrue" data-val="Anomalie sur fixation">Fixation</td>
                                            <td><input type="radio" id="fixationGrue1" name="fixationGrue" value="B"></td>
                                            <td><input type="radio" id="fixationGrue2" name="fixationGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="oxydationGrue" data-val="Oxydation sur grue">Etat général oxydation</td>
                                            <td><input type="radio" id="oxydationGrue1" name="oxydationGrue" value="B"></td>
                                            <td><input type="radio" id="oxydationGrue2" name="oxydationGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="jeuxGrue" data-val="Anomalie jeux mecaniques">Jeux mécaniques</td>
                                            <td><input type="radio" id="jeuxGrue1" name="jeuxGrue" value="B"></td>
                                            <td><input type="radio" id="jeuxGrue2" name="jeuxGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="plaquettesGrue" data-val="Anomalie plaquettes">Etat plaquettes d'usure</td>
                                            <td><input type="radio" id="plaquettesGrue1" name="plaquettesGrue" value="B"></td>
                                            <td><input type="radio" id="plaquettesGrue2" name="plaquettesGrue" value="D"></td>
                                            <td><input type="radio" id="plaquettesGrue3" name="plaquettesGrue" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="axesGrue" data-val="Anomalie des axes">Etat des axes</td>
                                            <td><input type="radio" id="axesGrue1" name="axesGrue" value="B"></td>
                                            <td><input type="radio" id="axesGrue2" name="axesGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="blocAxesGrue" data-val="Anomalie blocage des axes">Blocage des axes</td>
                                            <td><input type="radio" id="blocAxesGrue1" name="blocAxesGrue" value="B"></td>
                                            <td><input type="radio" id="blocAxesGrue2" name="blocAxesGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="futsGrue" data-val="Anomalie sur futs">Choc ou fissure sur fûts</td>
                                            <td><input type="radio" id="futsGrue1" name="futsGrue" value="B"></td>
                                            <td><input type="radio" id="futsGrue2" name="futsGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="tigesGrue" data-val="Choc sur tiges">Choc sur tiges</td>
                                            <td><input type="radio" id="tigesGrue1" name="tigesGrue" value="B"></td>
                                            <td><input type="radio" id="tigesGrue2" name="tigesGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center"><b>Hydraulique grue</b></p>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="verinGrue" data-val="Fuite sur verins">Fuite sur vérins</td>
                                            <td><input type="radio" id="verinGrue1" name="verinGrue" value="B"></td>
                                            <td><input type="radio" id="verinGrue2" name="verinGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="tuyauterieGrue" data-val="Anomalie tuyauterie">Tuyauterie</td>
                                            <td><input type="radio" id="tuyauterieGrue1" name="tuyauterieGrue" value="B"></td>
                                            <td><input type="radio" id="tuyauterieGrue2" name="tuyauterieGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="flexiblesGrue" data-val="Anomalie flexibles">Etat des flexibles</td>
                                            <td><input type="radio" id="flexiblesGrue1" name="flexiblesGrue" value="B"></td>
                                            <td><input type="radio" id="flexiblesGrue2" name="flexiblesGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="fuiteDistriGrue" data-val="Fuite sur distributeur">Fuite sur distributeurs</td>
                                            <td><input type="radio" id="fuiteDistriGrue1" name="fuiteDistriGrue" value="B"></td>
                                            <td><input type="radio" id="fuiteDistriGrue2" name="fuiteDistriGrue" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="fixationBlocs" data-val="Anomalie fixation blocs sur vérins">Fixat. blocs sur vérins grue</td>
                                            <td><input type="radio" id="fixationBlocs1" name="fixationBlocs" value="B"></td>
                                            <td><input type="radio" id="fixationBlocs2" name="fixationBlocs" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="huile" data-val="Anomalie huile ou qualite">Niveau huile et qualité</td>
                                            <td><input type="radio" id="huile1" name="huile" value="B"></td>
                                            <td><input type="radio" id="huile2" name="huile" value="D"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-center"><b>Electricité</b></p>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="faisceau" data-val="Anomalie faisceau de commande">Faisceau de commande</td>
                                            <td><input type="radio" id="faisceau1" name="faisceau" value="B"></td>
                                            <td><input type="radio" id="faisceau2" name="faisceau" value="D"></td>
                                            <td><input type="radio" id="faisceau3" name="faisceau" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="connexions" data-val="Anomalie connexion">Connexions</td>
                                            <td><input type="radio" id="connexions1" name="connexions" value="B"></td>
                                            <td><input type="radio" id="connexions2" name="connexions" value="D"></td>
                                            <td><input type="radio" id="connexions3" name="connexions" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="commande" data-val="Anomalie coffrets de commande">Etat coffret de commande</td>
                                            <td><input type="radio" id="commande1" name="commande" value="B"></td>
                                            <td><input type="radio" id="commande2" name="commande" value="D"></td>
                                            <td><input type="radio" id="commande3" name="commande" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="commandeAnnexe" data-val="Anomalie commande annexe">Etat commande annexe</td>
                                            <td><input type="radio" id="commandeAnnexe1" name="commandeAnnexe" value="B"></td>
                                            <td><input type="radio" id="commandeAnnexe2" name="commandeAnnexe" value="D"></td>
                                            <td><input type="radio" id="commandeAnnexe3" name="commandeAnnexe" value="SO"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-center"><b>Observations</b> <button class="btn btn-outline-primary btn-block" onclick="observationsAuto('#conservation')">Préremplir</button></p>
                                <label>
                                    <textarea name="observations2" id="conservationTa" rows=3 cols=45></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <div class="text-center"><b style="text-transform: uppercase"> 3. Examen des dispositifs de sécurité</b></div>
                    </div>
                    <div class="card-body">
                        <div class="row" id="securite">
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="chaussettes" data-val="Anomalie chaussettes">Chaussettes protection
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier que tous les tuyaux flexibles passent à l'intérieur des chaussettes et que celles-ci sont en bon état."></i>
                                            </td>
                                            <td><input type="radio" id="chaussettes1" name="chaussettes" value="B"></td>
                                            <td><input type="radio" id="chaussettes2" name="chaussettes" value="D"></td>
                                            <td><input type="radio" id="chaussettes3" name="chaussettes" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="arretUrg" data-val="Anomalie arrets d'urgence">Arrêt urgence tous postes
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier que chaque poste de commande est équipé d'un arrêt d'urgence"></i>
                                            </td>
                                            <td><input type="radio" id="arretUrg1" name="arretUrg" value="B"></td>
                                            <td><input type="radio" id="arretUrg2" name="arretUrg" value="D"></td>
                                            <td><input type="radio" id="arretUrg3" name="arretUrg" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="abaque" data-val="Anomalie abaque">Abaque sur chaque poste
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier qu'une abaque de charge équipe chaque poste de commande"></i>
                                            </td>
                                            <td><input type="radio" id="abaque1" name="abaque" value="B"></td>
                                            <td><input type="radio" id="abaque2" name="abaque" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="consignes" data-val="Anomalie consignes de securite">Consignes de sécurité
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier qu'elles sont affichées"></i>
                                            </td>
                                            <td><input type="radio" id="consignes1" name="consignes" value="B"></td>
                                            <td><input type="radio" id="consignes2" name="consignes" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="signalisation" data-val="Anomalie signalisation stabilisateurs">Signalisation des stabilisateurs
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier que les stabilisateurs sont signalés par des bandes rétro réfléchissantes"></i>
                                            </td>
                                            <td><input type="radio" id="signalisation1" name="signalisation" value="B"></td>
                                            <td><input type="radio" id="signalisation2" name="signalisation" value="D"></td>
                                            <td><input type="radio" id="signalisation3" name="signalisation" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="pictogramme" data-val="Anomalie pictogramme">Pictogramme boîtiers de commande
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier que l'ensemble des manettes et boutons des boîtiers de commande sont signalés par des pictogrammes"></i>
                                            </td>
                                            <td><input type="radio" id="pictogramme1" name="pictogramme" value="B"></td>
                                            <td><input type="radio" id="pictogramme2" name="pictogramme" value="D"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="logiqueManettes" data-val="Anomalie sens logique manettes">Sens logique manettes de commande
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier le sens logique de chaque manette de commande"></i>
                                            </td>
                                            <td><input type="radio" id="logiqueManettes1" name="logiqueManettes" value="B"></td>
                                            <td><input type="radio" id="logiqueManettes2" name="logiqueManettes" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="neutre" data-val="Anomalie commande position neutre">Retour commande position neutre
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier le retour automatique en position neutre de chaque manette de commande"></i>
                                            </td>
                                            <td><input type="radio" id="neutre1" name="neutre" value="B"></td>
                                            <td><input type="radio" id="neutre2" name="neutre" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="posteCommande" data-val="Anomalie selecteur poste de commande">Sélecteur poste de cde
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier la présence et l'efficacité d'un sélecteur de poste de commande"></i>
                                            </td>
                                            <td><input type="radio" id="posteCommande1" name="posteCommande" value="B"></td>
                                            <td><input type="radio" id="posteCommande2" name="posteCommande" value="D"></td>
                                            <td><input type="radio" id="posteCommande3" name="posteCommande" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="finCourse" data-val="Anomalie fin de course">Fin de course de rotation
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier que si la grue est équipée d'une tourelle tournante, sa rotation est équipée de fin de course pour limiter les zones interdites"></i>
                                            </td>
                                            <td><input type="radio" id="finCourse1" name="finCourse" value="B"></td>
                                            <td><input type="radio" id="finCourse2" name="finCourse" value="D"></td>
                                            <td><input type="radio" id="finCourse3" name="finCourse" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="maintienArret" data-val="Anomalie arret ou maintien arret">Arrêt et maintien arrêt
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier qu'en cas d'arrêt de tous mouvements, le maintien est obtenu à la remise en position neutre de l'arrêt d'urgence"></i>
                                            </td>
                                            <td><input type="radio" id="maintienArret1" name="maintienArret" value="B"></td>
                                            <td><input type="radio" id="maintienArret2" name="maintienArret" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="verrouillageRoute" data-val="Anomalie verrouillage route">Verrouillage route
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier que l'appareil est équipé d'un verrouillage route"></i>
                                            </td>
                                            <td><input type="radio" id="verrouillageRoute1" name="verrouillageRoute" value="B"></td>
                                            <td><input type="radio" id="verrouillageRoute2" name="verrouillageRoute" value="D"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="plateforme" data-val="Anomalie acces plateforme ou siège">Accès plateforme + siège
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier que l'accès au siège est conforme à la norme NF EN 12999"></i>
                                            </td>
                                            <td><input type="radio" id="plateforme1" name="plateforme" value="B"></td>
                                            <td><input type="radio" id="plateforme2" name="plateforme" value="D"></td>
                                            <td><input type="radio" id="plateforme3" name="plateforme" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="conformiteStab" data-val="Anomalie stabilisateurs">Conformité stabilisateurs
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier la conformité des stabilisateurs à la norme NF EN 12999"></i>
                                            </td>
                                            <td><input type="radio" id="conformiteStab1" name="conformiteStab" value="B"></td>
                                            <td><input type="radio" id="conformiteStab2" name="conformiteStab" value="D"></td>
                                            <td><input type="radio" id="conformiteStab3" name="conformiteStab" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="avertisseur" data-val="Anomalie avertisseur sonore">Avert. sonore + 12 m/télécom.
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Si la flèche a une portée de plus de 12m ou si l'appareil est équipé d'une
commande à distance, vérifier que l'appareil est équipé d'un avertisseur sonore
et que celui-ci fonctionne correctement depuis chaque poste de commande"></i>
                                            </td>
                                            <td><input type="radio" id="avertisseur1" name="avertisseur" value="B"></td>
                                            <td><input type="radio" id="avertisseur2" name="avertisseur" value="D"></td>
                                            <td><input type="radio" id="avertisseur3" name="avertisseur" value="SO"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-center"><b>Observations</b> <button class="btn btn-outline-primary btn-block" onclick="observationsAuto('#securite')">Préremplir</button></p>
                                <label>
                                    <textarea name="observations3" id="securiteTa" rows=3 cols=45></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <div class="text-center"><b style="text-transform: uppercase">4. Essais de fonctionnement</b> <b>à charge nominale</b></div>
                    </div>
                    <div class="card-body">
                        <p><label for="charge"><b>Essais réalisés avec une charge nominale de  </b></label> <input id="charge" type="number" value="" required><b> kg</b></p>
                        <div class="row" id="fonctionnement">
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="stabSansCharge" data-val="Anomalie sur stabilisateurs sans charge">Stabilisateurs (sans charge)
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A vide, manipuler les stabilisateurs et vérifier leur bon fonctionnement"></i>
                                            </td>
                                            <td><input type="radio" id="stabSansCharge1" name="stabSansCharge" value="B"></td>
                                            <td><input type="radio" id="stabSansCharge2" name="stabSansCharge" value="D"></td>
                                            <td><input type="radio" id="stabSansCharge3" name="stabSansCharge" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="haut" data-val="Anomalie lors de la manipulation de la grue vers le haut">Vers le haut
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A charge nominale, flèche rentrée, manipuler la grue vers le haut"></i>
                                            </td>
                                            <td><input type="radio" id="haut1" name="haut" value="B"></td>
                                            <td><input type="radio" id="haut2" name="haut" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="bas" data-val="Anomalie lors de la manipulation de la grue vers le bas">Vers le bas
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A charge nominale, flèche rentrée, manipuler la grue vers le bas"></i>
                                            </td>
                                            <td><input type="radio" id="bas1" name="bas" value="B"></td>
                                            <td><input type="radio" id="bas2" name="bas" value="D"></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td id="deploiement" data-val="Anomalie lors de la manipulation de la grue au moment du deploiement">Déploiement
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A charge nominale, déployer la flèche au maximum"></i>
                                            </td>
                                            <td><input type="radio" id="deploiement1" name="deploiement" value="B"></td>
                                            <td><input type="radio" id="deploiement2" name="deploiement" value="D"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="mvtCombines" data-val="Anomalie lors des mouvements combines">Mouvements combinés
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A charge nominale, exercer des mouvements combinés"></i>
                                            </td>
                                            <td><input type="radio" id="mvtCombines1" name="mvtCombines" value="B"></td>
                                            <td><input type="radio" id="mvtCombines2" name="mvtCombines" value="D"></td>
                                        </tr>
                                        <tr>
                                            <td id="arretDemarrages" data-val="Anomalie lors des arrets et demarrages toutes positions">Arrêt démarrages toutes positions
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A charge nominale, arrêts et démarrages dans toutes les positions"></i>
                                            </td>
                                            <td><input type="radio" id="arretDemarrages1" name="arretDemarrages" value="B"></td>
                                            <td><input type="radio" id="arretDemarrages2" name="arretDemarrages" value="D"></td>
                                        </tr>
                                        <tr>
                                            <td id="mvtAccessoires" data-val="Anomalie lors des mouvements accessoires">Mouvements accessoires
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A charge nominale, manipuler les accessoires disponibles montés et les faire fonctionner"></i>
                                            </td>
                                            <td><input type="radio" id="mvtAccessoires1" name="mvtAccessoires" value="B"></td>
                                            <td><input type="radio" id="mvtAccessoires2" name="mvtAccessoires" value="D"></td>
                                            <td><input type="radio" id="mvtAccessoires3" name="mvtAccessoires" value="SO"></td>
                                        </tr>
                                        <tr>
                                            <td id="limiteurCapacite" data-val="Anomalie du limiteur de capacite">Limiteur de capacité
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A charge nominale, contrôler le bon fonctionnement du limiteur de capacité et de l'indicateur"></i>
                                            </td>
                                            <td><input type="radio" id="limiteurCapacite1" name="limiteurCapacite" value="B"></td>
                                            <td><input type="radio" id="limiteurCapacite2" name="limiteurCapacite" value="D"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">B</th>
                                            <th scope="col">D</th>
                                            <th scope="col">SO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="clapet" data-val="Anomalie du clapet de decharge de pression">Clapet de décharge de pression
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Vérifier le clapet de décharge de pression en vérifiant l'impossibilité de soulever une charge au-delà des capacités de l'appareil"></i>
                                            </td>
                                            <td><input type="radio" id="clapet1" name="clapet" value="B"></td>
                                            <td><input type="radio" id="clapet2" name="clapet" value="D"></td>
                                        </tr>
                                        <tr>
                                            <td id="limiteurTreuil" data-val="Anomalie du limiteur de capacite du treuil">Limiteur capacité treuil
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Si la grue est équipée d'un treuil, vérifier le limiteur de capacité. Sinon cocher SO"></i>
                                            </td>
                                            <td><input type="radio" id="limiteurTreuil1" name="limiteurTreuil" value="B"></td>
                                            <td><input type="radio" id="limiteurTreuil2" name="limiteurTreuil" value="D"></td>
                                            <td><input type="radio" id="limiteurTreuil3" name="limiteurTreuil" value="SO"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-center"><b>Observations</b> <button class="btn btn-outline-primary btn-block" onclick="observationsAuto('#fonctionnement')">Préremplir</button></p>
                                <label>
                                    <textarea name="observations4" id="fonctionnementTa" rows=3 cols=45></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <div class="text-center"><b style="text-transform: uppercase"> 5. Essais de glissement </b><b> à charge nominale</b>
                            <i class="fa fa-info-circle" aria-hidden="true"
                               title="Pour cet essai, nous vérifions que le taux de glissement ne dépasse pas 0,5% de la portée par minute,
0,02% pour les grues de portées de plus de 12m et postérieure à la nouvelle norme, 2% pour les grues forestières.
La procédure permet de vérifier que si après 15 minutes la charge ne touche pas le sol, l'essai est concluant."></i></div>
                    </div>
                    <div class="card-body">
                        <p><b>Essais réalisés avec une charge nominale de  </b> <input id="charge2" type="number" value="" required><b> kg</b></p>
                        <div class="row" id="glissement">
                            <div class="col-md-6">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Longueur de portée maxi en mm
                                                <i class="fa fa-info-circle" aria-hidden="true" title="Noter la portée maxi (hors extensions manuelles)"></i>
                                                <input id="portee" type="number" onChange="elevationCalcul()" required>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Positionner charge nominale position maxi sur stabilisateurs
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="Positionner la charge nominale en position maxi dans l'axe des stabilisateurs"></i>
                                            </td>
                                            <td><input id="chargeMaxi" type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>Décoller la charge du sol de :
                                                <input type="number" id="calculPortee" readOnly> mm
                                            </td>
                                            <td><input id="decoller" type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>Marquer tous les vérins et les stabilisateurs
                                                <i class="fa fa-info-circle" aria-hidden="true"
                                                   title="A l'aide d'un feutre"></i>
                                            </td>
                                            <td><input id="marquage" type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>Attendre 15 minutes</td>
                                            <td><input id="attente" type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td><button id="countdown" class="btn btn-outline-primary btn-block" onclick="countdown('00:15')">Démarrer le minuteur</button></td>
                                            <td><div class="countdown"></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <label for="mesure">Mesurer le décollement de la charge en mm</label> <input id="mesure" type="number" required>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td id="marquageVerin" data-val="anomalie marquage vérins">Vérifier marquage sur vérins</td>
                                            <td><input id="marquageVerin1" type="radio" name="marquageVerin" value="B"> B</td>
                                            <td><input id="marquageVerin2" type="radio" name="marquageVerin" value="D"> D</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-center"><b>Observations</b> <button class="btn btn-outline-primary btn-block" onclick="observationsAuto('#glissement')">Préremplir</button></p>
                                <label>
                                    <textarea name="observations5" id="glissementTa" rows=3 cols=45></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 shadow-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-header">
                                <div class="text-center"><b style="text-transform: uppercase"> 6. à réaliser par le contrôleur </b></div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Pose de l'autocollant de datage du contrôle</td>
                                            <td><input id="autocollant" type="checkbox"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="text-center">Réalisation du contrôle</div>
                                </div>
                                <div class="card-body">
                                    <p>Date du contrôle :  {{ control.date | date("d-m-Y")}}</p>
                                    <p>Nom du contrôleur :  {{ user.firstname }} {{ user.name }} </p>
                                    <p>Email : {{ user.email }}</p>
                                    <label for="signature">Signature : </label><br>
                                    <textarea id="signature" name="signature" rows=3 cols=40></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="text-center"><b> Coordonnées du propriétaire du véhicule </b></div>
                                </div>
                                <div class="card-body">
                                    <p>Nom : {{ control.controlEquipment.clientCompany.name }}</p>
                                    <p>Adresse : {{ control.controlEquipment.clientCompany.adress }}</p>
                                    <p>Ville : {{ control.controlEquipment.clientCompany.zipCode }}</p>
                                    <p>Code Postal : {{ control.controlEquipment.clientCompany.city }}</p>
                                    <p>Téléphone : {{ control.controlEquipment.clientCompany.phone }}</p>
                                    <p>Email : {{ control.controlEquipment.clientCompany.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div>
            <a href="{{ path('accessoiresControl') }}">
             <button type="submit" class="btn btn-outline-primary mx-3" >Contrôler un/des accessoire(s)</button>
            </a>
        </div><br>
        <div>
            <button type="submit" class="btn btn-block" style="background-color: #ff8906; color:#fffffe" >Valider le contrôle</button>
        </div><br>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
       $(document).ready(function (){conseilsGrue();});

       let anneeFabrication = {{ control.controlEquipment.year }};
       let interval;

         // Remplissage automatique des champs CMU suivants après indication du 1er par l'utilisateur
        function autoCompletionCMU()
        {
            $('#charge').val($('#cmu').val());
            $('#charge2').val($('#cmu').val());
        }
    </script>

{% endblock %}