{% extends 'base.html.twig' %}

{% block title %}Contrôle de mise en service{% endblock %}

{% block main %}
<div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
    <a href="{{ path('startControl') }}">
        <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
    </a>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div>
            <h1 class="text-center">Contrôle {{ control.type }}  pour {{ control.controlEquipment.equipmentCategory.category }}</h1>
        </div>
        <p>
            <small>Procédure de contrôle conforme aux exigences des articles R233-11, R233-84 et L620.6 du code du travail,
                à l'article L233-5-1, à l'arrêté du 1 mars 2004, à l'arrêté du 18 décembre 1992</small>
        </p>
        <p>
            <small> et à la norme NF EN 12999</small>
        </p>
        <div class="card mt-3 shadow-sm">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center"><b style="text-transform: uppercase">Grue Auxiliaire </b></p>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Marque </td>
                                    <td> {{ control.controlEquipment.brand }}</td>
                                </tr>
                                <tr>
                                    <td>Modèle </td>
                                    <td> {{ control.controlEquipment.model }}</td>
                                </tr>
                                <tr>
                                    <td>N° série </td>
                                    <td>{{ control.controlEquipment.serialNumber }}</td>
                                </tr>
                                <tr>
                                    <td>Année de fabrication </td>
                                    <td>{{ control.controlEquipment.year }}</td>
                                </tr>
                                <tr>
                                    <td>Heures grue</td>
                                    <td><input id="hour" type="text"></td>
                                </tr>
                                <tr>
                                    <td>CMU (Kg) </td>
                                    <td><input id="cmu" type="number" value="cmu" onChange="autoCompletionCMU()"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Stabilisateurs</td>
                                    <td><input id="stabGrueAux1" type="radio" name="stabGrueAux" value="oui"> Oui</td>
                                    <td><input id="stabGrueAux2" type="radio" name="stabGrueAux" value="non"> Non</td>
                                </tr>
                                <tr>
                                    <td>Grue forestière</td>
                                    <td><input id="forestiere1" type="radio" name="forestiere" value="oui"> Oui</td>
                                    <td><input id="forestiere2" type="radio" name="forestiere" value="non"> Non</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button id="auto" onclick="formulaireAuto()" class="btn btn-outline-primary btn-block">Préremplir</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center"><b style="text-transform: uppercase"> Véhicule </b></p>
                        </div>
                        <div class="card-body" >
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Marque</td>
                                    <td><input id="brandVehicule" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Immatriculation</td>
                                    <td><input id="immatriculation" type="text" ></td>
                                </tr>
                                <tr>
                                    <td>Kilométrage</td>
                                    <td><input id="km" type="number" ></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center"><b> Plaques signalétiques </b></p>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Plaque constructeur</td>
                                    <td><input id="plaque1" type="radio" name="plaque"> Oui</td>
                                    <td><input id="plaque2" type="radio" name="plaque"> Non</td>
                                </tr>
                                <tr>
                                    <td>Marquage CE</td>
                                    <td><input id="CE1" type="radio" name="CE"> Oui</td>
                                    <td><input id="CE2" type="radio" name="CE"> Non</td>
                                </tr>
                                <tr>
                                    <td>Plaque assembleur</td>
                                    <td><input id="plaqueAss1" type="radio" name="plaqueAss"> Oui</td>
                                    <td><input id="plaqueAss2" type="radio" name="plaqueAss"> Non</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow-sm">
            <div class="card-header">
                <p class="text-center"><b style="text-transform: uppercase"> 1. Contrôle de la documentation</b></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Manuel d'utilisation</td>
                                <td><input type="radio" id="manuel1" name="manuel" value="B"></td>
                                <td><input type="radio" id="manuel2" name="manuel" value="D"></td>
                            </tr>
                            <tr>
                                <td>Carnet de maintenance</td>
                                <td><input type="radio" id="carnet" name="carnet" value="B"></td>
                                <td><input type="radio" id="carnet2" name="carnet" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Certificat de conformité</td>
                                <td><input type="radio" id="certificat" name="certificat" value="B"></td>
                                <td><input type="radio" id="certificat2" name="certificat" value="D"></td>
                            </tr>
                            <tr>
                                <td>Rapport de mise en service</td>
                                <td><input type="radio" id="rapport" name="rapport" value="B"></td>
                                <td><input type="radio" id="rapport2" name="rapport" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Dernier contrôle périodique</td>
                                <td><input type="radio" id="lastControle" name="lastControle" value="B"></td>
                                <td><input type="radio" id="lastControle2" name="lastControle" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                        <label for="date">Date dernier contrôle périodique</label> <input id="date" type="date">
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow-sm">
            <div class="card-header">
                <p class="text-center"><b style="text-transform: uppercase"> 2. Examen d'adéquation </b></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>La capacité de levage de l'appareil est adaptée au poids total du véhicule
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier la faisabilité de montage par rapport aux dimensions et au poids du véhicule, ainsi qu'à la répartition des charges"></i>
                                </td>
                                <td><input type="radio" id="capacite" name="capacite" value="B"></td>
                                <td><input type="radio" id="capacite2" name="capacite" value="D"></td>
                            </tr>
                            <tr>
                                <td>L'implantation de l'appareil ne provoque pas de surcharge
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier que le calcul de répartition des charges a été fait et que son résultat est convenable"></i>
                                </td>
                                <td><input type="radio" id="surcharge" name="surcharge" value="B"></td>
                                <td><input type="radio" id="surcharge2" name="surcharge" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Fixations sur le châssis sont conformes
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="S'assurer qu'il est installé conformément aux instructions du fabricant"></i>
                                </td>
                                <td><input type="radio" id="prescription" name="prescription" value="B"></td>
                                <td><input type="radio" id="prescription2" name="prescription" value="D"></td>
                            </tr>
                            <tr>
                                <td>La capacité de levage correspond aux charges à soulever
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier qu'il est approprié aux travaux à effectuer et aux risques auxquels les travailleurs
                                               sont exposés et qu'il peut être utilisé et peut accomplir les fonctions prévues en toute sécurité"></i>
                                </td>
                                <td><input type="radio" id="capaciteCharge" name="capaciteCharge" value="B"></td>
                                <td><input type="radio" id="capaciteCharge2" name="capaciteCharge" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow-sm">
            <div class="card-header">
                <p class="text-center"><b style="text-transform: uppercase"> 3. Examen de l'état de conservation </b><b>(examen visuel)</b></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-center"><b>Structure stabilisateurs</b></p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label for="fixation">Fixation</label> </td>
                                <td><input type="radio" id="fixation1" name="fixation" value="B"></td>
                                <td><input type="radio" id="fixation2" name="fixation" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="oxydation">Etat général oxydation</label></td>
                                <td><input type="radio" id="oxydation1" name="oxydation" value="B"></td>
                                <td><input type="radio" id="oxydation2" name="oxydation" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="jeux">Jeux mécaniques</label></td>
                                <td><input type="radio" id="jeux1" name="jeux" value="B"></td>
                                <td><input type="radio" id="jeux2" name="jeux" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="plaquettes">Etat plaquettes d'usure</label></td>
                                <td><input type="radio" id="plaquettes1" name="plaquettes" value="B"></td>
                                <td><input type="radio" id="plaquettes2" name="plaquettes" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="verrouillage">Etat du verrouillage</label></td>
                                <td><input type="radio" id="verrouillage1" name="verrouillage" value="B"></td>
                                <td><input type="radio" id="verrouillage2" name="verrouillage" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="futs"> Choc ou fissure sur fûts</label> </td>
                                <td><input type="radio" id="futs1" name="futs" value="B"></td>
                                <td><input type="radio" id="futs2" name="futs" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="tiges">Choc sur tiges</label></td>
                                <td><input type="radio" id="tiges1" name="tiges" value="B"></td>
                                <td><input type="radio" id="tiges2" name="tiges" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="bulles">Bulles d'inclinaison</label></td>
                                <td><input type="radio" id="bulles1" name="bulles" value="B"></td>
                                <td><input type="radio" id="bulles2" name="bulles" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="semelles">Semelles</label></td>
                                <td><input type="radio" id="semelles1" name="semelles" value="B"></td>
                                <td><input type="radio" id="semelles2" name="semelles" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="axes">Etat des axes</label></td>
                                <td><input type="radio" id="axes1" name="axes" value="B"></td>
                                <td><input type="radio" id="axes2" name="axes" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="blocage">Blocage des axes</label></td>
                                <td><input type="radio" id="blocage1" name="blocage" value="B"></td>
                                <td><input type="radio" id="blocage2" name="blocage" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <p class="text-center"><b>Hydraulique stabilisateurs</b></p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label for="fuite">Fuite sur vérins</label> </td>
                                <td><input type="radio" id="fuite1" name="fuite" value="B"></td>
                                <td><input type="radio" id="fuite2" name="fuite" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="verins">Fixation blocs sur vérins</label> </td>
                                <td><input type="radio" id="verins1" name="verins" value="B"></td>
                                <td><input type="radio" id="verins2" name="verins" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="tuyauterie">Tuyauterie</label></td>
                                <td><input type="radio" id="tuyauterie1" name="tuyauterie" value="B"></td>
                                <td><input type="radio" id="tuyauterie2" name="tuyauterie" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="flexibles">Etat des flexibles</label> </td>
                                <td><input type="radio" id="flexibles1" name="flexibles" value="B"></td>
                                <td><input type="radio" id="flexibles2" name="flexibles" value="D"></td>
                            </tr>
                            <tr>
                                <td><label for="fuiteDistri">Fuite sur distributeurs</label> </td>
                                <td><input type="radio" id="fuiteDistri1" name="fuiteDistri" value="B"></td>
                                <td><input type="radio" id="fuiteDistri2" name="fuiteDistri" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-center"><b>Structure grue</b></p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Fixation</td>
                                <td><input type="radio" id="fixationGrue1" name="fixationGrue" value="B"></td>
                                <td><input type="radio" id="fixationGrue2" name="fixationGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Etat général oxydation</td>
                                <td><input type="radio" id="oxydationGrue1" name="oxydationGrue" value="B"></td>
                                <td><input type="radio" id="oxydationGrue2" name="oxydationGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Jeux mécaniques</td>
                                <td><input type="radio" id="jeuxGrue1" name="jeuxGrue" value="B"></td>
                                <td><input type="radio" id="jeuxGrue2" name="jeuxGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Etat plaquettes d'usure</td>
                                <td><input type="radio" id="plaquettesGrue1" name="plaquettesGrue" value="B"></td>
                                <td><input type="radio" id="plaquettesGrue2" name="plaquettesGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Etat des axes</td>
                                <td><input type="radio" id="axesGrue1" name="axesGrue" value="B"></td>
                                <td><input type="radio" id="axesGrue2" name="axesGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Blocage des axes</td>
                                <td><input type="radio" id="blocAxesGrue1" name="blocAxesGrue" value="B"></td>
                                <td><input type="radio" id="blocAxesGrue2" name="blocAxesGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Choc ou fissure sur fûts</td>
                                <td><input type="radio" id="futsGrue1" name="futsGrue" value="B"></td>
                                <td><input type="radio" id="futsGrue2" name="futsGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Choc sur tiges</td>
                                <td><input type="radio" id="tigesGrue1" name="tigesGrue" value="B"></td>
                                <td><input type="radio" id="tigesGrue2" name="tigesGrue" value="D"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <p class="text-center"><b>Hydraulique grue</b></p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Fuite sur vérins</td>
                                <td><input type="radio" id="verinGrue1" name="verinGrue" value="B"></td>
                                <td><input type="radio" id="verinGrue2" name="verinGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Tuyauterie</td>
                                <td><input type="radio" id="tuyauterieGrue1" name="tuyauterieGrue" value="B"></td>
                                <td><input type="radio" id="tuyauterieGrue2" name="tuyauterieGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Etat des flexibles</td>
                                <td><input type="radio" id="flexiblesGrue1" name="flexiblesGrue" value="B"></td>
                                <td><input type="radio" id="flexiblesGrue2" name="flexiblesGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Fuite sur distributeurs</td>
                                <td><input type="radio" id="fuiteDistriGrue1" name="fuiteDistriGrue" value="B"></td>
                                <td><input type="radio" id="fuiteDistriGrue2" name="fuiteDistriGrue" value="D"></td>
                            </tr>
                            <tr>
                                <td>Fixat. blocs sur vérins grue</td>
                                <td><input type="radio" id="fixationBlocs1" name="fixationBlocs" value="B"></td>
                                <td><input type="radio" id="fixationBlocs2" name="fixationBlocs" value="D"></td>
                            </tr>
                            <tr>
                                <td>Niveau huile et qualité</td>
                                <td><input type="radio" id="huile1" name="huile" value="B"></td>
                                <td><input type="radio" id="huile2" name="huile" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-center"><b>Electricité</b></p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Faisceau de commande</td>
                                <td><input type="radio" id="faisceau1" name="faisceau" value="B"></td>
                                <td><input type="radio" id="faisceau2" name="faisceau" value="D"></td>
                            </tr>
                            <tr>
                                <td>Connexions</td>
                                <td><input type="radio" id="connexions1" name="connexions" value="B"></td>
                                <td><input type="radio" id="connexions2" name="connexions" value="D"></td>
                            </tr>
                            <tr>
                                <td>Etat coffrets de commande</td>
                                <td><input type="radio" id="commande1" name="commande" value="B"></td>
                                <td><input type="radio" id="commande2" name="commande" value="D"></td>
                            </tr>
                            <tr>
                                <td>Etat commande annexe</td>
                                <td><input type="radio" id="commandeAnnexe1" name="commandeAnnexe" value="B"></td>
                                <td><input type="radio" id="commandeAnnexe2" name="commandeAnnexe" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                        <label for="observations" class="text-center"><b>Observations</b></label>
                        <textarea id="observations" name="observations" rows=3 cols=45></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow-sm">
            <div class="card-header">
                <p class="text-center"><b style="text-transform: uppercase"> 4. Examen des dispositifs de sécurité et du code de la route</b></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Chaussettes de protection
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier que tous les tuyaux flexibles passent à l'intérieur des chaussettes et que celles-ci sont en bon état."></i>
                                </td>
                                <td><input type="radio" id="chaussettes1" name="chaussettes" value="B"></td>
                                <td><input type="radio" id="chaussettes2" name="chaussettes" value="D"></td>
                            </tr>
                            <tr>
                                <td>Arrêt urgence tous postes
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier que chaque poste de commande est équipé d'un arrêt d'urgence"></i>
                                </td>
                                <td><input type="radio" id="arretUrg1" name="arretUrg" value="B"></td>
                                <td><input type="radio" id="arretUrg2" name="arretUrg" value="D"></td>
                            </tr>
                            <tr>
                                <td>Abaque sur chaque poste
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier qu'une abaque de charge équipe chaque poste de commande"></i>
                                </td>
                                <td><input type="radio" id="abaque1" name="abaque" value="B"></td>
                                <td><input type="radio" id="abaque2" name="abaque" value="D"></td>
                            </tr>
                            <tr>
                                <td>Consignes de sécurité
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier qu'elles sont affichées"></i>
                                 </td>
                                <td><input type="radio" id="consignes1" name="consignes" value="B"></td>
                                <td><input type="radio" id="consignes2" name="consignes" value="D"></td>
                            </tr>
                            <tr>
                                <td>Signalisation stabilisateurs
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier que les stabilisateurs sont signalés par des bandes rétro réfléchissantes"></i>
                                </td>
                                <td><input type="radio" id="signalisation1" name="signalisation" value="B"></td>
                                <td><input type="radio" id="signalisation2" name="signalisation" value="D"></td>
                            </tr>
                            <tr>
                                <td>Pictogramme boîtiers cde
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier que l'ensemble des manettes et boutons des boîtiers de commande sont signalés par des pictogrammes"></i>
                                </td>
                                <td><input type="radio" id="pictogramme1" name="pictogramme" value="B"></td>
                                <td><input type="radio" id="pictogramme2" name="pictogramme" value="D"></td>
                            </tr>
                            <tr>
                                <td>Sens logique manettes cde
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier le sens logique de chaque manette de commande"></i>
                                </td>
                                <td><input type="radio" id="logiqueManettes1" name="logiqueManettes" value="B"></td>
                                <td><input type="radio" id="logiqueManettes2" name="logiqueManettes" value="D"></td>
                            </tr>
                            <tr>
                                <td>Retour cde position neutre
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier le retour automatique en position neutre de chaque manette de commande"></i>
                                </td>
                                <td><input type="radio" id="neutre1" name="neutre" value="B"></td>
                                <td><input type="radio" id="neutre2" name="neutre" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Sélecteur poste de cde
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier la présence et l'efficacité d'un sélecteur de poste de commande"></i>
                                </td>
                                <td><input type="radio" id="posteCommande1" name="posteCommande" value="B"></td>
                                <td><input type="radio" id="posteCommande2" name="posteCommande" value="D"></td>
                            </tr>
                            <tr>
                                <td>Fin de course de rotation
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier que si la grue est équipée d'une tourelle tournante, sa rotation est équipée de fin de course pour limiter les zones interdites"></i>
                                </td>
                                <td><input type="radio" id="finCourse1" name="finCourse" value="B"></td>
                                <td><input type="radio" id="finCourse2" name="finCourse" value="D"></td>
                            </tr>
                            <tr>
                                <td>Arrêt et maintien arrêt
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier qu'en cas d'arrêt de tous mouvements, le maintien est obtenu à la remise en position neutre de l'arrêt d'urgence"></i>
                                </td>
                                <td><input type="radio" id="maintienArret1" name="maintienArret" value="B"></td>
                                <td><input type="radio" id="maintienArret2" name="maintienArret" value="D"></td>
                            </tr>
                            <tr>
                                <td>Verrouillage route
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier que l'appareil est équipé d'un verrouillage route"></i>
                                </td>
                                <td><input type="radio" id="verrouillageRoute1" name="verrouillageRoute" value="B"></td>
                                <td><input type="radio" id="verrouillageRoute2" name="verrouillageRoute" value="D"></td>
                            </tr>
                            <tr>
                                <td>Accès plateforme + siège
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier que l'accès au siège est conforme à la norme NF EN 12999"></i>
                                </td>
                                <td><input type="radio" id="plateforme1" name="plateforme" value="B"></td>
                                <td><input type="radio" id="plateforme2" name="plateforme" value="D"></td>
                            </tr>
                            <tr>
                                <td>Conformité stabilisateurs
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier la conformité des stabilisateurs à la norme NF EN 12999"></i>
                                </td>
                                <td><input type="radio" id="conformiteStab1" name="conformiteStab" value="B"></td>
                                <td><input type="radio" id="conformiteStab2" name="conformiteStab" value="D"></td>
                            </tr>
                            <tr>
                                <td>Clapets maintien charge stab.
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier l'état des clapets de maintien de charge des stabilisateurs et s'ils répondent à la norme NF EN 12999"></i>
                                </td>
                                <td><input type="radio" id="clapetSurStab" name="clapetSurStab" value="B"></td>
                                <td><input type="radio" id="clapetSurStab2" name="clapetSurStab" value="D"></td>
                            </tr>
                            <tr>
                                <td>Clapets maintien charge grue
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier l'état des clapets de maintien de charge de la grue et s'ils répondent à la norme NF EN 12999"></i>
                                </td>
                                <td><input type="radio" id="clapetSurGrue" name="clapetSurGrue" value="B"></td>
                                <td><input type="radio" id="clapetSurGrue2" name="clapetSurGrue" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Jauge réservoir huile et purgeur
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier si l'appareil est équipé d'une jauge et d'un purgeur et si le niveau d'huile est convenable"></i>
                                </td>
                                <td><input type="radio" id="jauge" name="jauge" value="B"></td>
                                <td><input type="radio" id="jauge2" name="jauge" value="D"></td>
                            </tr>
                            <tr>
                                <td>Aucun dispositif ne dépasse du gabarit du véhicule
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier qu'en ordre de marche, aucun dispositif ne dépasse du gabarit du véhicule"></i>
                                </td>
                                <td><input type="radio" id="gabarit" name="gabarit" value="B"></td>
                                <td><input type="radio" id="gabarit2" name="gabarit" value="D"></td>
                            </tr>
                            <tr>
                                <td>Avert. sonore + 12 m
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Si la flèche a une portée de plus de 12m, ou si l'appareil est équipé d'une commande à distance,
                                       vérifier que l'appareil est équipé d'un avertisseur sonore et que celui-ci fonctionne correctement
                                       depuis chaque poste de commande"></i>
                                </td>
                                <td><input type="radio" id="avertisseur1" name="avertisseur" value="B"></td>
                                <td><input type="radio" id="avertisseur2" name="avertisseur" value="D"></td>
                            </tr>
                            <tr>
                                <td>Dispositif d'abaissement d'urgence
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="Vérifier le bon fonctionnement de l'abaissement d'urgence si l'appareil en est équipé"></i>
                                </td>
                                <td><input type="radio" id="abaissement" name="abaissement" value="B"></td>
                                <td><input type="radio" id="abaissement2" name="abaissement" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-center"><b>Observations</b></p>
                        <label>
                            <textarea name="observations4" rows=3 cols=45></textarea>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow-sm">
            <div class="card-header">
                <p class="text-center"><b style="text-transform: uppercase"> 5. Essais d'installation et de stabilité </b><b>à charge nominale x 1,25</b></p>
            </div>
            <div class="card-header">
                <p class="text-center"><b> Au moment maximal </b></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" value="nominale x 1,25 de" readonly><input type="text" name="chargeNominale1">
                        <p class="text-center"><b>5.1 Rayon maximal extensions manuelles</b>
                            <i class="fa fa-info-circle" aria-hidden="true"
                               title="Si la grue n'est pas équipée d'extensions manuelles, mettre à la place de la charge : sans objet, sinon suivre la procédure"></i>
                        </p>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Positionner charge à 100 mm</td>
                                <td><input type="checkbox" name="chargeCheckbox1"></td>
                            </tr>
                            <tr>
                                <td>Orientation lente sur tout le rayon</td>
                                <td><input type="checkbox" name="orientationCheckbox1"></td>
                            </tr>
                            <tr>
                                <td>Stabilitée contrôlée</td>
                                <td><input type="radio" id="stabControlee1" name="stabControlee" value="B">B</td>
                                <td><input type="radio" id="stabControlee1bis" name="stabControlee" value="D">D</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <input type="text" value="nominale x 1,25 de" readonly><input type="text" name="chargeNominale2">
                        <p class="text-center"><b>5.2 Rayon maximal hydraulique</b>
                            <i class="fa fa-info-circle" aria-hidden="true"
                               title="Prendre la charge et la porter lentement au rayon maximal hydraulique à 100mm du sol puis suivre la procédure"></i>
                        </p>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Positionner charge à 100 mm</td>
                                <td> <input type="checkbox" name="chargeCheckbox2"></td>
                            </tr>
                            <tr>
                                <td>Orientation lente sur tout le rayon</td>
                                <td><input type="checkbox" name="orientationCheckbox2"></td>
                            </tr>
                            <tr>
                                <td>Stabilitée contrôlée</td>
                                <td><input type="radio" id="stabControlee2" name="stabControlee2" value="B">B</td>
                                <td><input type="radio" id="stabControlee2bis" name="stabControlee2" value="D">D</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <input type="text" value="nominale x 1,25 de" readonly><input type="number" name="chargeNominale3">
                        <p class="text-center"><b>5.3 Rayon capacité maximale</b>
                            <i class="fa fa-info-circle" aria-hidden="true"
                               title="Prendre la charge au rayon minimal de la capacité maximale puis suivre la procédure"></i>
                        </p>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Positionner charge à 100 mm</td>
                                <td><input type="checkbox" name="chargeCheckbox3"></td>
                            </tr>
                            <tr>
                                <td>Orientation lente sur tout le rayon</td>
                                <td><input type="checkbox" name="orientationCheckbox3"></td>
                            </tr>
                            <tr>
                                <td>Stabilitée contrôlée</td>
                                <td><input type="radio" id="stabControlee3" name="stabControlee3" value="B">B</td>
                                <td><input type="radio" id="stabControlee3bis" name="stabControlee3" value="D">D</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-header">
                <p class="text-center"><b> Au moment minimal </b></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" value="nominale x 1,25 de" readonly><input type="text" name="chargeNominale4">
                        <p class="text-center"><b>5.4 Rayon maximal extensions manuelles</b>
                            <i class="fa fa-info-circle" aria-hidden="true"
                               title="Si la grue n'est pas équipée d'extensions manuelles écrire à la place de la charge : sans objet, sinon suivre la procédure"></i>
                        </p>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Positionner charge à 100 mm</td>
                                <td><input type="checkbox" name="chargeCheckbox4"></td>
                            </tr>
                            <tr>
                                <td>Orientation lente sur tout le rayon</td>
                                <td><input type="checkbox" name="orientationCheckbox4"></td>
                            </tr>
                            <tr>
                                <td>Stabilitée contrôlée</td>
                                <td><input type="radio" id="stabControlee4" name="stabControlee4" value="B">B</td>
                                <td><input type="radio" id="stabControlee4bis" name="stabControlee4" value="D">D</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <input type="text" value="nominale x 1,25 de" readonly><input type="text" name="chargeNominale5">
                        <p class="text-center"><b>5.5 Rayon maximal hydraulique</b>
                            <i class="fa fa-info-circle" aria-hidden="true"
                               title="Prendre la charge et la porter lentement au rayon maximal hydraulique à 100mm du sol puis suivre la procédure"></i>
                        </p>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Positionner charge à 100 mm</td>
                                <td><input type="checkbox" name="chargeCheckbox5"></td>
                            </tr>
                            <tr>
                                <td>Orientation lente sur tout le rayon</td>
                                <td><input type="checkbox" name="orientationCheckbox5"></td>
                            </tr>
                            <tr>
                                <td>Stabilitée contrôlée</td>
                                <td><input type="radio" id="stabControlee5" name="stabControlee5" value="B">B</td>
                                <td><input type="radio" id="stabControlee5bis" name="stabControlee5" value="D">D</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <input type="text" value="nominale x 1,25 de" readonly><input type="number" name="chargeNominale6">
                        <p class="text-center"><b>5.6 Rayon capacité maximale</b>
                            <i class="fa fa-info-circle" aria-hidden="true"
                               title="Prendre la charge au rayon minimal de la capacité maximale puis suivre la procédure"></i>
                        </p>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Positionner charge à 100 mm</td>
                                <td><input type="checkbox" name="chargeCheckbox6"></td>
                            </tr>
                            <tr>
                                <td>Orientation lente sur tout le rayon</td>
                                <td><input type="checkbox" name="orientationCheckbox6"></td>
                            </tr>
                            <tr>
                                <td>Stabilitée contrôlée</td>
                                <td><input type="radio" id="stabControlee6" name="stabControlee6" value="B">B</td>
                                <td><input type="radio" id="stabControlee6bis" name="stabControlee6" value="D">D</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow-sm">
            <div class="card-header">
                <p class="text-center"><b style="text-transform: uppercase"> 6. Essais de fonctionnement </b><b>à charge nominale</b></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div><b>Essais réalisés avec une charge nominale de </b> <input type="text" id="chargeDEssais" name="chargeDEssais"><b>Kg</b></div>
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Stabilisateurs (sans charge)
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A vide, manipuler les stabilisateurs et vérifier leur bon fonctionnement"></i>
                                </td>
                                <td><input type="radio" id="stabSansCharge" name="stabSansCharge" value="B"></td>
                                <td><input type="radio" id="stabSansCharge1" name="stabSansCharge" value="D"></td>
                            </tr>
                            <tr>
                                <td>Vers le haut
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, flèche rentrée, manipuler la grue vers le haut"></i>
                                </td>
                                <td><input type="radio" id="haut" name="haut" value="B"></td>
                                <td><input type="radio" id="haut1" name="haut" value="D"></td>
                            </tr>
                            <tr>
                                <td>Vers le bas
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, flèche rentrée, manipuler la grue vers le bas"></i>
                                </td>
                                <td><input type="radio" id="bas" name="bas" value="B"></td>
                                <td><input type="radio" id="bas1" name="bas" value="D"></td>
                            </tr>
                            <tr>
                                <td>Déploiement
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, déployer la flèche au maximum"></i>
                                </td>
                                <td><input type="radio" id="deploiement" name="deploiement" value="B"></td>
                                <td><input type="radio" id="deploiement1" name="deploiement" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Mouvements combinés
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, exercer des mouvements combinés"></i>
                                </td>
                                <td><input type="radio" id="mouvementsCombines" name="mouvementsCombines" value="B"></td>
                                <td><input type="radio" id="mouvementsCombines1" name="mouvementsCombines" value="D"></td>
                            </tr>
                            <tr>
                                <td>Mouvements accessoires
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, manipuler les accessoires disponibles et les faire fonctionner"></i>
                                </td>
                                <td><input type="radio" id="mouvementsAccessoires" name="mouvementsAccessoires" value="B"></td>
                                <td><input type="radio" id="mouvementsAccessoires1" name="mouvementsAccessoires" value="D"></td>
                            </tr>
                            <tr>
                                <td>Limiteur de capacité
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, contrôler son bon fonctionnement"></i>
                                </td>
                                <td><input type="radio" id="limiteur" name="limiteur" value="B"></td>
                                <td><input type="radio" id="limiteur1" name="limiteur" value="D"></td>
                            </tr>
                            <tr>
                                <td>Indicateur capacité nominale
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, contrôler son efficacité"></i>
                                </td>
                                <td><input type="radio" id="indicateur" name="indicateur" value="B"></td>
                                <td><input type="radio" id="indicateur1" name="indicateur" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">B</th>
                                <th scope="col">D</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Clapet de décharge de pression
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, vérifier l'impossibilité de soulever une charge au-delà des capacités de l'appareil"></i>
                                </td>
                                <td><input type="radio" id="clapetDecharge" name="clapetDecharge" value="B"></td>
                                <td><input type="radio" id="clapetDecharge1" name="clapetDecharge" value="D"></td>
                            </tr>
                            <tr>
                                <td>Limiteur de capacité treuil
                                    <i class="fa fa-info-circle" aria-hidden="true"
                                       title="A charge nominale, si la grue est équipée d'un treuil, vérifier le limiteur de capacité. Sinon, ne pas remplir"></i>
                                </td>
                                <td><input type="radio" id="LimiteurTreuil" name="LimiteurTreuil" value="B"></td>
                                <td><input type="radio" id="LimiteurTreuil1" name="LimiteurTreuil" value="D"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-center"><b>Observations</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow-sm">
            <div class="card-header">
                <p class="text-center"><b style="text-transform: uppercase"> 7. Epreuve statique</b><b> avec charge nominale x 1,25</b></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div><b>Essais réalisés avec une charge nominale x 1,25 soit de </b><input type="text" id="chargeDEssais2" name="chargeDEssais2"><b>Kg</b></div>
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Positionner le bras de levage à l'horizontale position maxi sur stabilisateur</td>
                                <td><input type="checkbox" name="brasMax"></td>
                            </tr>
                            <tr>
                                <td>Couper le moteur</td>
                                <td><input type="checkbox" name="moteur"></td>
                            </tr>
                            <tr>
                                <td>Positionner la charge à une hauteur au sol de 200 mm</td>
                                <td><input type="checkbox" name="hauteur"></td>
                            </tr>
                            <tr>
                                <td>Marquer tous les vérins et stabilisateurs</td>
                                <td><input type="checkbox" name="marquerVérins"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Attendre 1 heure</td>
                                <td><input type="checkbox" name="attente"></td>
                            </tr>
                            <tr>
                                <td>Visualiser le marquage des vérins</td>
                                <td><input type="checkbox" name="marquageVerins"></td>
                            </tr>
                            <tr>
                                <td>Détérioration permanente ou défectuosité constatée</td>
                                <td><input type="radio" id="deterioration1" name="deterioration" value="oui">Oui</td>
                                <td><input type="radio" id="deterioration2" name="deterioration" value="non">Non</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="card-header">
                    <p><b style="text-transform: uppercase"> 8. Essai de glissement</b><b> à charge nominale</b></p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div><b>Essais réalisés avec une charge nominale de </b> <input type="text" id="chargeDEssais3" name="chargeDEssais3"> <b>Kg, à une portée maxi de </b>
                            <i class="fa fa-info-circle" aria-hidden="true"
                               title="Noter la portée maxi (hors extensions manuelles)"></i> <input type="number"> <b> mm</b></div>
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Positionner charge nominale position maxi sur stabilisateurs
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="Positionner la charge nominale, en position maxi dans l'axe des stabilisateurs"></i>
                                    </td>
                                    <td><input type="checkbox" name="positionMaxi"></td>
                                </tr>
                                <tr>
                                    <td>Décoller charge du sol de : </td>
                                    <td><input type="checkbox" name="elevation"></td>
                                </tr>
                                <tr>
                                    <td>Marquer tous les vérins et stabilisateurs
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="Marquer à l'aide d'un feutre"></i>
                                    </td>
                                    <td><input type="checkbox" name="marquer"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Attendre 15 minutes</td>
                                    <td><input type="checkbox" name="attente15"></td>
                                </tr>
                                <tr>
                                    <td>Mesurer le décollement de la charge au sol en mm </td>
                                    <td><input type="number" name="mesureElevation"></td>
                                </tr>
                                <tr>
                                    <td>Vérifier le marquage sur les vérins</td>
                                    <td><input type="radio" name="marquage" id="marquage1" value="B"> B</td>
                                    <td><input type="radio" name="marquage" id="marquage2" value="D"> D</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="card-header">
                    <p class="text-center"><b style="text-transform: uppercase"> 9. Epreuve dynamique</b><b> à charge nominale x 1,1</b></p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div><b>Essais réalisés avec une charge nominale x 1,1 soit de </b> <input type="text" id="chargeDEssais4" name="chargeDEssais4"> <b> Kg</b></div>
                        <div class="col-md-4">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Vérifier l'abaque de charge</td>
                                    <td><input type="checkbox" name="verifAbaque"></td>
                                </tr>
                                <tr>
                                    <td>Soulever la charge CMU + 10%
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title=" Soulever la charge CMU (Charge Maximum d'Utilisation) + 10%"></i>
                                    </td>
                                    <td><input type="checkbox" name="cmuPlus10"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Manipuler l'appareil dans toutes positions
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="Manipuler l'appareil dans toutes les positions possibles qu'il peut occuper"></i>
                                    </td>
                                    <td><input type="checkbox" name="manipulations"></td>
                                </tr>
                                <tr>
                                    <td>Arrêts et démarrages dans toutes positions</td>
                                    <td><input type="checkbox" name="arretEtDemarrage"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Contrôler si défaillance apparue
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="Faire un contrôle visuel et vérifier qu'aucune défaillance n'est apparue"></i>
                                    </td>
                                    <td><input type="checkbox" name="controleDefaillance"></td>
                                </tr>
                                <tr>
                                    <td>Défaillance apparue
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="Noter si une défaillance est apparue et la noter dans les observations"></i>
                                    </td>
                                    <td><input type="radio" id="yes" name="defaillance" value="oui">Oui</td>
                                    <td><input type="radio" id="no" name="defaillance" value="non">Non</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <p class="text-center"><b>Réalisation du contrôle</b></p>
                            </div>
                            <div class="card-body">
                                <p>Date du contrôle :  {{ control.date | date("d-m-Y")}}</p>
                                <p>Nom du contrôleur :  {{ user.firstname }} {{ user.name }} </p>
                                <p>Email : {{ user.email }}</p>
                                <label for="signature">Signature : </label><br>
                                <textarea id="signature" name="signature" rows=3 cols=40></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <p class="text-center"><b> Coordonnées du propriétaire du véhicule </b></p>
                            </div>
                            <div class="card-body">
                                <p>Nom : {{ control.controlEquipment.clientCompany.name }}</p>
                                <p>Adresse : {{ control.controlEquipment.clientCompany.adress }}</p>
                                <p>Ville : {{ control.controlEquipment.clientCompany.zipCode }}</p>
                                <p>Code Postal : {{ control.controlEquipment.clientCompany.city }}</p>
                                <p>Téléphone : {{ control.controlEquipment.clientCompany.phone }}</p>
                                <p>Email : {{ control.controlEquipment.clientCompany.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div>
            <button type="submit" class="btn btn-block" style="background-color: #ff8906; color:#fffffe">Valider le contrôle</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}