{% extends 'base.html.twig' %}

{% block title %}Contrôle périodique {% endblock %}

{% block main %}
<div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
    <a href="{{ path('startControl') }}">
        <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
    </a>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div>
            <h1 class="text-center">Contrôle {{ control.type }}  pour {{ control.controlEquipment.equipmentCategory.category }}</h1>
        </div>
        <div>
            <small>Procédure de contrôle conforme aux exigences des articles R233-11, R233-84 et L620.6 du code du travail,
                à l'article L233-5-1, à l'arrêté du 1 mars 2004, à l'arrêté du 18 décembre 1992</small>
        </div>
        <div class="card mt-3 shadow-sm">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="text-center"><b style="text-transform: uppercase">Palan / Treuil </b></div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Marque </td>
                                    <td> {{ control.controlEquipment.brand }}</td>
                                </tr>
                                <tr>
                                    <td>Modèle </td>
                                    <td> {{ control.controlEquipment.model }}</td>
                                </tr>
                                <tr>
                                    <td>N° série </td>
                                    <td>{{ control.controlEquipment.serialNumber }}</td>
                                </tr>
                                <tr>
                                    <td>Année de fabrication </td>
                                    <td>{{ control.controlEquipment.year }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Palan manuel</td>
                                    <td><input id="pManuel" type="radio" name="typePalanTreuil"></td>
                                    <td>Treuil manuel</td>
                                    <td><input id="tManuel" type="radio" name="typePalanTreuil"></td>
                                </tr>
                                <tr>
                                    <td>Palan électrique</td>
                                    <td><input id="pElec" type="radio" name="typePalanTreuil"></td>
                                    <td>Treuil électrique</td>
                                    <td><input id="tElec" type="radio" name="typePalanTreuil"></td>
                                </tr>
                                <tr>
                                    <td>Palan hydraulique</td>
                                    <td><input id="pHydro" type="radio" name="typePalanTreuil"></td>
                                    <td>Treuil hydraulique</td>
                                    <td><input id="tHydro" type="radio" name="typePalanTreuil"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Puissance</td>
                                    <td><input id="puissance" type="number" name="puissance" onChange="autoCompletionCharge()"></td>
                                    <td>Kgs</td>
                                </tr>
                                <tr>
                                    <td>Validité du contrôle
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="La périodicité normale est de 12 mois, néanmoins, certains
utilisateurs contrôlent ces appareils tous les 6mois"></i>
                                    </td>
                                    <td><input id="validite6" type="radio" name="validite"> 6 mois</td>
                                    <td><input id="validite12" type="radio" name="validite"> 12 mois</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-header">
                            <div class="text-center"><b> Plaques signalétiques </b></div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Plaque constructeur</td>
                                    <td><input id="plaque1" type="radio" name="plaque"> Oui</td>
                                    <td><input id="plaque2" type="radio" name="plaque"> Non</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Marquage CE
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="SO si l'appareil est d'avant 1995"></i>
                                    </td>
                                    <td><input id="marquageCE1" type="radio" name="marquageCE"> Oui</td>
                                    <td><input id="marquageCE2" type="radio" name="marquageCE"> Non</td>
                                    <td><input id="marquageCE3" type="radio" name="marquageCE"> SO</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button id="auto" onclick="formulaireAuto()" class="btn btn-outline-primary btn-block">Préremplir le formulaire</button>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="card-header">
                    <div class="text-center"><b style="text-transform: uppercase"> 1. Contrôle de la documentation</b></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">B</th>
                                    <th scope="col">D</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="manuel">Manuel d'utilisation</td>
                                    <td><input type="radio" id="manuel1" name="manuel" value="B"></td>
                                    <td><input type="radio" id="manuel2" name="manuel" value="D"></td>
                                </tr>
                                <tr>
                                    <td id="carnet">Carnet de maintenance</td>
                                    <td><input type="radio" id="carnet1" name="carnet" value="B"></td>
                                    <td><input type="radio" id="carnet2" name="carnet" value="D"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">B</th>
                                    <th scope="col">D</th>
                                    <th scope="col">SO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="certificat">Certificat de conformité
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="SO si l'appareil est d'avant 1995"></i>
                                    </td>
                                    <td><input type="radio" id="certificat1" name="certificat" value="B"></td>
                                    <td><input type="radio" id="certificat2" name="certificat" value="D"></td>
                                    <td><input type="radio" id="certificat3" name="certificat" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="rapport">Rapport de mise en service</td>
                                    <td><input type="radio" id="rapport1" name="rapport" value="B"></td>
                                    <td><input type="radio" id="rapport2" name="rapport" value="D"></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">B</th>
                                    <th scope="col">D</th>
                                    <th scope="col">SO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="lastControl">Dernier contrôle périodique
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                           title="SO, seulement si le rapport de mise en service à moins de 12 mois"></i>
                                    </td>
                                    <td><input type="radio" id="lastControl1" name="lastControl" value="B"></td>
                                    <td><input type="radio" id="lastControl2" name="lastControl" value="D"></td>
                                    <td><input type="radio" id="lastControl3" name="lastControl" value="SO"></td>
                                </tr>
                                </tbody>
                            </table>
                            <label for="date">Date dernier contrôle périodique</label> <input id="date" type="date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="card-header">
                    <div class="text-center"><b style="text-transform: uppercase"> 2. Examen de l'état de conservation </b><b>(examen visuel)</b>
                        <i class="fa fa-info-circle" aria-hidden="true"
                           title="SO si l'appareil n'est pas équipé d'un équipement obligatoire"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="conservation">
                        <div class="col-md-4">
                            <p class="text-center"><b>Structure</b></p>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">B</th>
                                    <th scope="col">D</th>
                                    <th scope="col">SO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="fixation" data-val="Anomalie de fixation">Fixation</td>
                                    <td><input type="radio" id="fixation1" name="fixation" value="B"></td>
                                    <td><input type="radio" id="fixation2" name="fixation" value="D"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="oxydation" data-val="Présence d'oxydation">Etat general oxydation</td>
                                    <td><input type="radio" id="oxydation1" name="oxydation" value="B"></td>
                                    <td><input type="radio" id="oxydation2" name="oxydation" value="D"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="jeux" data-val="Anomalie sur jeux mécaniques">Jeux mécaniques</td>
                                    <td><input type="radio" id="jeux1" name="jeux" value="B"></td>
                                    <td><input type="radio" id="jeux2" name="jeux" value="D"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="axes" data-val="Anomalie des axes">Etat des axes</td>
                                    <td><input type="radio" id="axes1" name="axes" value="B"></td>
                                    <td><input type="radio" id="axes2" name="axes" value="D"></td>
                                    <td><input type="radio" id="axes3" name="axes" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="blocageAxe" data-val="Anomalie sur blocage des axes">Blocage des axes</td>
                                    <td><input type="radio" id="blocageAxe1" name="blocageAxe" value="B"></td>
                                    <td><input type="radio" id="blocageAxe2" name="blocageAxe" value="D"></td>
                                    <td><input type="radio" id="blocageAxe3" name="blocageAxe" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="finCourse" data-val="Anomalie de fin de course">Fin de courses</td>
                                    <td><input type="radio" id="finCourse1" name="finCourse" value="B"></td>
                                    <td><input type="radio" id="finCourse2" name="finCourse" value="D"></td>
                                    <td><input type="radio" id="finCourse3" name="finCourse" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="suspension" data-val="Anomalie de la suspension">Etat de la suspension</td>
                                    <td><input type="radio" id="suspension1" name="suspension" value="B"></td>
                                    <td><input type="radio" id="suspension2" name="suspension" value="D"></td>
                                    <td><input type="radio" id="suspension3" name="suspension" value="SO"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center"><b>Partie mobile</b></p>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">B</th>
                                    <th scope="col">D</th>
                                    <th scope="col">SO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="guidages" data-val="Anomalie des guidages">Etat des guidages</td>
                                    <td><input type="radio" id="guidages1" name="guidages" value="B"></td>
                                    <td><input type="radio" id="guidages2" name="guidages" value="D"></td>
                                    <td><input type="radio" id="guidages3" name="guidages" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="chaine" data-val="Anomalie sur chaîne/câble">Etat chaîne/câble</td>
                                    <td><input type="radio" id="chaine1" name="chaine" value="B"></td>
                                    <td><input type="radio" id="chaine2" name="chaine" value="D"></td>
                                    <td><input type="radio" id="chaine3" name="chaine" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="chaineCmde" data-val="Anomalie de la chaîne de commande">Etat chaîne de commande</td>
                                    <td><input type="radio" id="chaineCmde1" name="chaineCmde" value="B"></td>
                                    <td><input type="radio" id="chaineCmde2" name="chaineCmde" value="D"></td>
                                    <td><input type="radio" id="chaineCmde3" name="chaineCmde" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="crochet" data-val="Anomalie du crochet">Etat crochet</td>
                                    <td><input type="radio" id="crochet1" name="crochet" value="B"></td>
                                    <td><input type="radio" id="crochet2" name="crochet" value="D"></td>
                                    <td><input type="radio" id="crochet3" name="crochet" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="rotationSuspension" data-val="Anomalie de la rotation suspension">Etat rotation suspension</td>
                                    <td><input type="radio" id="rotationSuspension1" name="rotationSuspension" value="B"></td>
                                    <td><input type="radio" id="rotationSuspension2" name="rotationSuspension" value="D"></td>
                                    <td><input type="radio" id="rotationSuspension3" name="rotationSuspension" value="SO"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center"><b>Electricité</b></p>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">B</th>
                                    <th scope="col">D</th>
                                    <th scope="col">SO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="faisceau" data-val="Anomalie du faisceau de commande">Faisceau de commande</td>
                                    <td><input type="radio" id="faisceau1" name="faisceau" value="B"></td>
                                    <td><input type="radio" id="faisceau2" name="faisceau" value="D"></td>
                                    <td><input type="radio" id="faisceau3" name="faisceau" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="connexion" data-val="Anomalie de connexions">Connexions</td>
                                    <td><input type="radio" id="connexion1" name="connexion" value="B"></td>
                                    <td><input type="radio" id="connexion2" name="connexion" value="D"></td>
                                    <td><input type="radio" id="connexion3" name="connexion" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="coffretCmde" data-val="Anomalie du coffret de commande">Etat coffret de commande</td>
                                    <td><input type="radio" id="coffretCmde1" name="coffretCmde" value="B"></td>
                                    <td><input type="radio" id="coffretCmde2" name="coffretCmde" value="D"></td>
                                    <td><input type="radio" id="coffretCmde3" name="coffretCmde" value="SO"></td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="text-center"><b>Observations</b> <button class="btn btn-outline-primary btn-block" onclick="observationsAuto('#conservation')">Préremplir</button></p>
                            <label>
                                <textarea name="observations2" id="conservationTa" rows=3 cols=45></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="card-header">
                    <div class="text-center"><b style="text-transform: uppercase"> 3. Examen des dispositifs de sécurité</b>
                        <i class="fa fa-info-circle" aria-hidden="true"
                           title="SO si l'appareil n'est pas équipé d'un équipement obligatoire"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="securite">
                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">B</th>
                                    <th scope="col">D</th>
                                    <th scope="col">SO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="consignes" data-val="Anomalie consignes de securite">Consignes de sécurité</td>
                                    <td><input type="radio" id="consignes1" name="consignes" value="B"></td>
                                    <td><input type="radio" id="consignes2" name="consignes" value="D"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="manettes" data-val="Anomalie sens logique des manettes">Sens logique des manettes de commande</td>
                                    <td><input type="radio" id="manettes1" name="manettes" value="B"></td>
                                    <td><input type="radio" id="manettes2" name="manettes" value="D"></td>
                                    <td><input type="radio" id="manettes3" name="manettes" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="pictogramme" data-val="Défaut des pictogrammes">Pictogrammes sur boîtier de commande</td>
                                    <td><input type="radio" id="pictogramme1" name="pictogramme" value="B"></td>
                                    <td><input type="radio" id="pictogramme2" name="pictogramme" value="D"></td>
                                    <td><input type="radio" id="pictogramme3" name="pictogramme" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="neutre" data-val="Anomalie retour des commandes en position neutre">Retour des commandes en position neutre</td>
                                    <td><input type="radio" id="neutre1" name="neutre" value="B"></td>
                                    <td><input type="radio" id="neutre2" name="neutre" value="D"></td>
                                    <td><input type="radio" id="neutre3" name="neutre" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="arretUrg" data-val="Anomalie arrêt d'urgence">Fonctionnement arrêt d'urgence</td>
                                    <td><input type="radio" id="arretUrg1" name="arretUrg" value="B"></td>
                                    <td><input type="radio" id="arretUrg2" name="arretUrg" value="D"></td>
                                    <td><input type="radio" id="arretUrg3" name="arretUrg" value="SO"></td>
                                </tr>
                                <tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center"><b>Observations</b> <button class="btn btn-outline-primary btn-block" onclick="observationsAuto('#securite')">Préremplir</button></p>
                            <label>
                                <textarea name="observations3" id="securiteTa" rows=6 cols=72></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="card-header">
                    <div class="text-center"><b style="text-transform: uppercase">4. Essais de déclenchement du dispositif de sécurité</b> <b>(appareil non manuel)</b>
                        <i class="fa fa-info-circle" aria-hidden="true"
                           title="SO si l'appareil est manuel"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="declenchement">
                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">Oui</th>
                                    <th scope="col">Non</th>
                                    <th scope="col">SO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="realisation" data-val="Impossibilité de réaliser l'essai">Possibilité de réaliser cet essai</td>
                                    <td><input type="radio" id="realisation1" name="realisation" value="B"></td>
                                    <td><input type="radio" id="realisation2" name="realisation" value="D"></td>
                                    <td><input type="radio" id="realisation3" name="realisation" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="charge110" data-val="Anomalie lors de la traction ou soulèvement de la charge">L'appareil soulève ou tracte une charge > ou = 110% de la charge nominale</td>
                                    <td><input type="radio" id="charge1101" name="charge110" value="B"></td>
                                    <td><input type="radio" id="charge1102" name="charge110" value="D"></td>
                                    <td><input type="radio" id="charge1103" name="charge110" value="SO"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center"><b>Observations</b> <button class="btn btn-outline-primary btn-block" onclick="observationsAuto('#declenchement')">Préremplir</button></p>
                            <label>
                                <textarea name="observations4" id="declenchementTa" rows=4 cols=72></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="card-header">
                    <div class="text-center"><b style="text-transform: uppercase">5. Essais de fonctionnement</b> <b>à charge nominale</b>
                        <i class="fa fa-info-circle" aria-hidden="true"
                           title="Si l'essai de fonctionnement a été réalisé avec une charge inférieure à la puissance de l'appareil,
le rapport fera apparaître une limite d'utilisation à la charge d'essai"></i>
                        <input id="charge" type="number" required><b> kg</b></div>
                </div>
                <div class="card-body">
                    <div class="row" id="fonctionnement">
                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">B</th>
                                    <th scope="col">D</th>
                                    <th scope="col">SO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="deploiement" data-val="Anomalie du déploiement de l'appareil">Déploiement de l'appareil</td>
                                    <td><input type="radio" id="deploiement1" name="deploiement" value="B"></td>
                                    <td><input type="radio" id="deploiement2" name="deploiement" value="D"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="prehension" data-val="Anomalie lors de la préhension charge">Préhension de la charge</td>
                                    <td><input type="radio" id="prehension1" name="prehension" value="B"></td>
                                    <td><input type="radio" id="prehension2" name="prehension" value="D"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="chargement" data-val="Anomalie lors du chargement">Chargement</td>
                                    <td><input type="radio" id="chargement1" name="chargement" value="B"></td>
                                    <td><input type="radio" id="chargement2" name="chargement" value="D"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="deplacement" data-val="Anomalie lors du déplacement du chariot">Déplacement du chariot</td>
                                    <td><input type="radio" id="deplacement1" name="deplacement" value="B"></td>
                                    <td><input type="radio" id="deplacement2" name="deplacement" value="D"></td>
                                    <td><input type="radio" id="deplacement3" name="deplacement" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="freinage" data-val="Anomalie du freinage du chariot">Freinage du chariot</td>
                                    <td><input type="radio" id="freinage1" name="freinage" value="B"></td>
                                    <td><input type="radio" id="freinage2" name="freinage" value="D"></td>
                                    <td><input type="radio" id="freinage3" name="freinage" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="maintienCharge" data-val="Anomalie lors du maintien de la charge / du frein du treuil">Maintien de la charge / Frein du treuil</td>
                                    <td><input type="radio" id="maintienCharge1" name="maintienCharge" value="B"></td>
                                    <td><input type="radio" id="maintienCharge2" name="maintienCharge" value="D"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="anticollision" data-val="Défaut du système anti-collision">Fonctionnement du système anti-collision</td>
                                    <td><input type="radio" id="anticollision1" name="anticollision" value="B"></td>
                                    <td><input type="radio" id="anticollision2" name="anticollision" value="D"></td>
                                    <td><input type="radio" id="anticollision3" name="anticollision" value="SO"></td>
                                </tr>
                                <tr>
                                    <td id="dechargement" data-val="Anomalie lors du déchargement">Déchargement</td>
                                    <td><input type="radio" id="dechargement1" name="dechargement" value="B"></td>
                                    <td><input type="radio" id="dechargement2" name="dechargement" value="D"></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center"><b>Observations</b> <button class="btn btn-outline-primary btn-block" onclick="observationsAuto('#fonctionnement')">Préremplir</button></p>
                            <label>
                                <textarea name="observations5" id="fonctionnementTa" rows=6 cols=72></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-header">
                            <div class="text-center"><b style="text-transform: uppercase"> 6. à réaliser par le contrôleur </b></div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Pose de l'autocollant de datage du contrôle</td>
                                    <td><input id="autocollant" type="checkbox"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="text-center">Réalisation du contrôle</div>
                            </div>
                            <div class="card-body">
                                <p>Date du contrôle :  {{ control.date | date("d-m-Y")}}</p>
                                <p>Nom du contrôleur :  {{ user.firstname }} {{ user.name }} </p>
                                <p>Email : {{ user.email }}</p>
                                <label for="signature">Signature : </label><br>
                                <textarea id="signature" name="signature" rows=3 cols=40></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="text-center"><b> Coordonnées du propriétaire de l'appareil </b></div>
                            </div>
                            <div class="card-body">
                                <p>Nom : {{ control.controlEquipment.clientCompany.name }}</p>
                                <p>Adresse : {{ control.controlEquipment.clientCompany.adress }}</p>
                                <p>Ville : {{ control.controlEquipment.clientCompany.zipCode }}</p>
                                <p>Code Postal : {{ control.controlEquipment.clientCompany.city }}</p>
                                <p>Téléphone : {{ control.controlEquipment.clientCompany.phone }}</p>
                                <p>Email : {{ control.controlEquipment.clientCompany.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div>
        <a href="{{ path('accessoiresControl') }}">
            <button type="submit" class="btn btn-outline-primary mx-3"> Contrôler un/des accessoire(s) </button>
        </a>
    </div><br>
    <div>
        <button type="submit" class="btn btn-block" style="background-color: #ff8906; color:#fffffe" >Valider le contrôle</button>
    </div><br>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function autoCompletionCharge()
        {
            $('#charge').val($('#puissance').val());
        }

    </script>
{% endblock %}
