{% extends 'base.html.twig' %}

{% block title %}
    Gestion des sociétés de Contrôles
{% endblock %}

{% form_theme newCompanyForm 'bootstrap_4_layout.html.twig' %}


{% block main %}
    <div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
        <a href="{{ path('homePanel') }}">
            <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
        </a>
        <h5>Gestion des sociétés de contrôle</h5>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 pr-md-0">
            <div class="container">
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <h5>Société Maitresse - Ma société - {{ userCompany.alias }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h5 class="pl-3">Infos sur la société</h5>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                {{ userCompany.name }}<br>
                                {{ userCompany.alias }}<br>
                                {{ userCompany.codeAPENAF }}<br>
                            </div>
                            <div class="col-4">
                                {{ userCompany.adress }}<br>
                                {{ userCompany.zipCode }}<br>
                                {{ userCompany.city }}<br>
                            </div>
                            <div class="col-4">
                                {{ userCompany.website }}<br>
                                {{ userCompany.mail }}<br>
                                {{ userCompany.phone }}<br>
                                {{ userCompany.fax }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="pl-2">
                                <a href="{{ path('update-mainCompany') }}">
                                    <button id="companyUpdateBtn" class="btn btn-outline-primary">Modifier les
                                        informations
                                        de
                                        ma société
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% block form %}
                    {{ form_start(newCompanyForm,{'attr' : {'class': 'card mt-3 shadow-sm'}}) }}
                    <div class="card-header">
                        <h5>Ajouter une société</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="error_form">
                                {{ form_errors(newCompanyForm) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(newCompanyForm.name) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_row(newCompanyForm.alias) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(newCompanyForm.codeAPE_NAF) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                {{ form_row(newCompanyForm.adress) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(newCompanyForm.city) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(newCompanyForm.zipCode) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(newCompanyForm.mail) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(newCompanyForm.phone) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(newCompanyForm.fax) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                {{ form_row(newCompanyForm.website) }}
                            </div>
                            <div class="col-md-4 d-flex align-items-center">
                                <button type="submit" class="btn btn-outline-primary btn-block">Enregistrer la société
                                </button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(newCompanyForm) }}
                {% endblock %}
            </div>
        </div>
        <div class="col-12 col-md-6 pl-md-0">
            <div class="container">
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <h5>Liste des sociétés</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                {{ flashMessage }}
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                {{ flashMessage }}
                            {% endfor %}
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom de la société</th>
                                <th scope="col">Site Internet</th>
                                <th scope="col">Contacter</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for company in companyList %}
                                <tr>

                                    <td>{{ company.name }}</td>
                                    <td>{{ company.website }}</td>
                                    <td><a href="mailto:{{ company.mail }}">{{ company.mail }}</a></td>
                                    <td>
                                        {% if company.id != userCompany.id %}

                                            <a data-id="{{ company.id }}"
                                               data-path="{{ path('disableCompany', {'id':company.id }) }}"
                                               data-toggle="modal"
                                               data-target="#confirmationUpdateModal">
                                                <button class="btn btn-outline-warning">
                                                    {% if company.isEnable != true %}
                                                        <i class="fas fa-toggle-off"></i>
                                                    {% else %}
                                                        <i class="fas fa-toggle-on"></i>
                                                    {% endif %}
                                                </button>
                                            </a>


                                            <a href="#confirmationSupressionModal" data-toggle="modal"
                                               data-target="#confirmationSupressionModal">
                                            <button class="btn btn-outline-danger "><i
                                                        class="far fa-trash-alt"></i>
                                            </button>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <!-- Modal de changement d'état (Enable/Disable) -->
                                <div class="modal fade " id="confirmationUpdateModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Attention !</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Vous êtes sur le point de changer l'état d'activation de cette
                                                société!<br>Voulez-vous vraiment continuer?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                    Annuler
                                                </button>

                                                <a id="lienDeRedirection" href="">
                                                    <button type="button" class="btn btn-warning">Oui, je veux
                                                        continuer
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal de supression de société -->
                                <div class="modal fade " id="confirmationSupressionModal" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Attention !</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Vous êtes sur le point de supprimer cette société ! Ainsi que toutes
                                                les
                                                données qui lui sont liées (utilisateurs, clients...)<br>Voulez-vous
                                                vraiment continuer?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                    Annuler
                                                </button>
                                                <a id="lienDeRedirection" href="">
                                                    <button type="button" class="btn btn-danger">Oui, je veux
                                                        continuer
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {% block javascripts %}
        {{ parent() }}
        <script>
            $('#confirmationSupressionModal').on('show.bs.modal', function (e) {
                var path = $(e.relatedTarget).data('path');
                $(e.currentTarget).find("#lienDeRedirection[href]").attr('href', path);
            })
            $('#confirmationUpdateModal').on('show.bs.modal', function (e) {
                var path = $(e.relatedTarget).data('path');
                $(e.currentTarget).find("#lienDeRedirection[href]").attr('href', path);
            })
        </script>
    {% endblock %}

{% endblock %}



