{% extends 'base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block main %}
    <style>
        .sticky {
            position: fixed;
            top: 0;
            right: 0;
        }
        #brand {
            display: none;
        }
    </style>
    <div>
        <div class="col-lg-2 shadow sticky-top" style="min-height: 100vh; background: #fffffe">
            <nav id="sidebar" style="background: #fffffe">
                <!-- Sidebar Header -->
                <div class="sidebar-header p-3">
                    <h5 class="text-center">Tableau de bord</h5>
                    <hr>
                </div>

                <!-- Sidebar Links -->
                <ul class="list-unstyled components">
                    <h6 style="font-weight: 600">Controle</h6>
                    <li><a class="btn btn-outline-primary btn-block mb-1" href="{{ path('startControl') }}">Commencer un contrôle</a></li>
                    <li><a class="btn btn-outline-primary btn-block mb-1" href="{{path('addControl')}}">Planifier un contrôle</a></li>
                    <br>
                    <h6 style="font-weight: 600">Secretariat</h6>
                    <li>
                        <a class="btn btn-outline-primary btn-block mb-1" href="#SecretariatClient"
                           data-toggle="collapse" aria-expanded="false">Clients</a>
                        <ul class="collapse list-unstyled" id="SecretariatClient">
                            <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1"
                                   href="{{ path('management_client_company') }}">Gérer les
                                    clients</a></li>
                            <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1" href="#">Nouveau compte
                                    Client</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="btn btn-outline-primary btn-block mb-1" href="#SecretariatDevis"
                           data-toggle="collapse" aria-expanded="false">Devis</a>
                        <ul class="collapse list-unstyled" id="SecretariatDevis">
                            <li><a class=" dropdown-item btn btn-outline-primary btn-block mb-1" href="{{path('addControl')}}">Nouveau
                                    devis</a></li>
                            <li><a class=" dropdown-item btn btn-outline-primary btn-block mb-1" href="#">Gérer les
                                    devis</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="btn btn-outline-primary btn-block mb-1" href="#SecretariatFacture"
                           data-toggle="collapse" aria-expanded="false">Factures</a>
                        <ul class="collapse list-unstyled" id="SecretariatFacture">
                            <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1" href="#">Editer une
                                    facture</a></li>
                            <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1" href="#">Gérer les
                                    factures</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="btn btn-outline-primary btn-block mb-1" href="#SecretariatContrat"
                           data-toggle="collapse" aria-expanded="false">Contrats</a>
                        <ul class="collapse list-unstyled" id="SecretariatContrat">
                            <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1" href="#">Nouveau
                                    contrat</a></li>
                            <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1" href="#">Gérer les
                                    contrats</a></li>
                        </ul>
                    </li>
                    <br>
                    <h6 style="font-weight: 600">Administration</h6>
                    <li><a class="btn btn-outline-primary btn-block mb-1" href="#AdministrationUtilisateurs"
                           data-toggle="collapse" aria-expanded="false">Utilisateurs</a>
                        <ul class="collapse list-unstyled" id="AdministrationUtilisateurs">
                            <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1"
                                   href="{{ path('newUser') }}">Nouvel utilisateur</a></li>
                            <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1"
                                   href="{{ path('userManagement') }}">Gérer les
                                    utilisateurs</a></li>
                        </ul>
                    </li>

                    <li><a class="btn btn-outline-primary btn-block mb-1" href="#">Gestion des tarifs</a></li>

                    <li><a class="btn btn-outline-primary btn-block mb-1" href="#MiseAJourDesCategoriesDEquipement"
                           data-toggle="collapse" aria-expanded="false">Mise à jour des contrôles</a></li>
                    <ul class="collapse list-unstyled" id="MiseAJourDesCategoriesDEquipement">
                        <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1"
                               href="{{ path('equipmentCategoryManagement') }}">Gestions des catégories<br> d'équipement</a></li>
                        <li><a class="dropdown-item btn btn-outline-primary btn-block mb-1"
                               href="{{ path('createEquipementSubCategory') }}">Gestions des sous-catégories<br> d'équipement</a></li>
                    </ul>
                    <li><a class="btn btn-outline-primary btn-block mb-1" href="#">Gérer les machines</a></li>
                    <li><a class="btn btn-outline-primary btn-block mb-1" href="{{ path('control_company') }}">Gérer les
                            sociétés</a></li>
                    <li><a class="btn btn-outline-primary btn-block mb-1" href="#">Logs</a></li>
                    <li><a class="btn btn-outline-primary btn-block mb-1" href="#">Historique</a></li>

                </ul>
            </nav>
        </div>
    </div>

{% endblock %}



