{% extends 'base.html.twig' %}


{% block title %}
    Nouvel équipement | {{ parent() }}
{% endblock %}

{% form_theme equipmentForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
        <a href="{{ path('detail_client_company', {'id': id}) }}">
            <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Nouvel équipement </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-5 p-3">
                {% block form %}
                    {{ form_start(equipmentForm) }}
                    {{ form_widget(equipmentForm) }}
                    <br>
                    <button type="submit" class="btn btn-block" style="background-color: #ff8906; color:#fffffe">Ajouter l'équipement</button>
                    {{ form_end(equipmentForm) }}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script>
        </script>
    {% endblock %}
{% endblock %}
