{% extends 'base.html.twig' %}

{% block title %}
    Equipement à Contrôler
{% endblock %}

{% block main %}
    <div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
        <a href="{{ path('homePanel') }}">
            <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
        </a>
    </div>
    <div class="row">
        <div class="col-12 ">
            <div class="container">
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <h5>Equipement nécessitant un controle prochain</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead class="sticky-top bg-light">
                            <tr>
                                <th scope="col">Entreprise Client</th>
                                <th scope="col">Equipements à Controler</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for company in clientCompanys %}
                                {% if company.equipments is not empty %}
                                    <tr>
                                        <td>{{ company.name }}</td>
                                        <td>
                                            {% for equipment in equipmentToControl %}
                                                {% if equipment.clientCompany == company %}
                                                    {{ equipment.brand }} {{ equipment.model }}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <button class="btn btn-warning" data-toggle="modal"
                                                    data-target="#modalSetUpControlForm{{ company.id }}" data-company="{{ company.name }}">Faire un devis
                                            </button>
                                        </td>
                                        <div class="modal fade" id="modalSetUpControlForm{{ company.id }}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <form id="setUpControlForm" method="post">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalTitle">
                                                                Paramétrer le devis</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% for equipment in equipmentToControl %}
                                                                {% if equipment.clientCompany == company %}
                                                                    <label for="{{ equipment.id }}" >{{ equipment.brand }} {{ equipment.model }}</label>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="{{ equipment.id }}" id="noControlRadio{{ equipment.id }}" value=null>
                                                                        <label class="form-check-label" for="noControlRadio{{ equipment.id }}">Pas de contrôle</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="{{ equipment.id }}" id="periodicControlRadio{{ equipment.id }}" value="Periodic">
                                                                        <label class="form-check-label" for="periodicControlRadio{{ equipment.id }}">Contrôle périodique</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="{{ equipment.id }}" id="commissioningControlRadio{{ equipment.id }}" value="Commissioning">
                                                                        <label class="form-check-label" for="commissioningControlRadio{{ equipment.id }}">Contrôle de mise en service</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="{{ equipment.id }}" id="returnToServiceControlRadio{{ equipment.id }}" value="ReturnToService">
                                                                        <label class="form-check-label" for="returnToServiceControlRadio{{ equipment.id }}">Contrôle de remise en service</label>
                                                                    </div>
                                                                    <br>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">annuler
                                                            </button>
                                                            <button id="submitFormBtn" type="submit" class="btn btn-success">Générer le devis
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <script>
                                            $("#submitFormBtn").on("click", function (e) {
                                                e.preventDefault();
                                                $.post('{{ path('addControl') }}',
                                                    $( "#setUpControlForm" ).serialize());
                                            })
                                        </script>
                                    </tr>

                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}

 {% endblock %}