{% extends 'base.html.twig' %}

{% block title %}Nouveau contrôle | {{ parent() }}{% endblock %}

{% form_theme controlForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
        <a href="{{ path('detail_equipment', {'id': equipment.id}) }}">
            <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Nouveau Contrôle  pour {{ equipment.equipmentCategory.category }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-5 p-3">
                {% block form %}
                    {{ form_start(controlForm) }}
                    {{ form_widget(controlForm) }}
                    <br>
                    <button type="submit" class="btn btn-block" style="background-color: #ff8906; color:#fffffe">Valider le contrôle</button>
                    {{ form_end(controlForm) }}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script>
        </script>
    {% endblock %}

{% endblock %}
