{% extends 'base.html.twig' %}

{% block title %}Nouveau contr么le | {{ parent() }}{% endblock %}

{% form_theme controlForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
        <a href="{{ path('devisManager')}}">
            <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm- 10 col-md-8 col-lg-6 p-3">
                <h1 class="text-center">Nouvelle visite de contr么le pour {{ clientCompany.name }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-5 p-3">
                {% block form %}
                    {{ form_start(controlForm) }}
                    <div class="form-group">
                        <div>
                            <label for="form_date">Date du Contr么le</label>
                        </div>
                        <div class="input-group date" id="form_date" data-target-input="nearest">
                            {{ form_widget(controlForm.date) }}

                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn  btn-outline-primary btn-block" >Valider le contr么le</button>
                    {{ form_end(controlForm) }}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script>
        </script>
    {% endblock %}

{% endblock %}
