{% block body %}
<style>
    @page {
        margin: 25px 25px 25px 25px;
        font-size: 12px;
        font-family: Arial, serif;

    }

    body {

    }

    p {
        line-height: 1.5;
    }

    #leftPart {
        display: inline-block;
        padding: 1.5em;


    }

    #rightPart {
        display: inline-block;
        padding: 1.5em;

    }

    #clientFieldset {
        display: inline-block;
        position: relative;
        padding: 1.5em;
        margin-left: 60%;
        margin-top: 5%;
    }

    #infoDevis {
        display: inline-block;
        margin-top: 6%;
        background-color: #272353;
        padding: 1.5em 1.5em 0.5em;
        margin-bottom: 5%;
        color: #fffffe;
    }


    #priceResume {
        display: inline-block;
        padding: 1.5em;
        float: end;
        background-color: #f0ad4e;

    }

    #table {
        display: inline-block;
        padding: 1.5em;

    }

</style>
<body>
<div id="sellerFieldset">
    <div id="leftPart" style="float: left">
        <h4>{{ app.user.company.name }}</h4>
        <p>N° TVA intracom : {{ app.user.company.tva }}<br>
            N°Siret : {{ app.user.company.siret }}<br>
            Code APE : {{ app.user.company.codeAPENAF }}</p>
    </div>
    <div id="rightPart" style="float: right ">
        <p>Mail : {{ app.user.company.mail }}<br>
            Tel : {{ app.user.company.phone }}<br>
            Fax : {{ app.user.company.fax }}<br>
            {{ app.user.company.adress }}<br>
            {{ app.user.company.zipCode }}, {{ app.user.company.city }}</p>
    </div>
</div>

<br>
<div id="clientFieldset">
    <p>{{ clientCompany.name }}<br>
        {{ clientCompany.adress }}<br>
        {{ clientCompany.zipCode }}, {{ clientCompany.city }}</p>
</div>

<br>
<div id="infoDevis">
    <p>Référence du devis : {{ pdfId }}<br><br>
        Date du devis : {{ dateTime }}<br>
        Date de validité du devis : {{ endTime }}<br><br>
        Devis émis par : {{ app.user.firstname }} {{ app.user.name }}</p>
</div>
<br>
<hr style="color: #272353">


<div id="table">

    <table style="width: border-box">
        <thead>
        <tr>
            <th>Description</th>
            <th>Quantité</th>
            <th>Unité</th>
            <th>Prix Unitaire HT</th>
            <th>% TVA</th>
            <th>Total TVA</th>
            <th>Prix TTC</th>
        </tr>
        </thead>
        <tbody>
        {% set totalTVA = 0 %}
        {% set totalHT = 0 %}
        {% set totalTTC = 0 %}

        {% for equipment in allEquipments %}
        {% for equipmentId, controlType in EquipmentsToControl %}
        {% if equipmentId == equipment.id and controlType != 'null' %}
            {% if controlType == 'ReturnToService' %}
                {% set tva = (equipment.subcategory.RMESControlPrice)*0.20 %}
                {% set description = 'Controle de remise en service pour ' ~ equipment.brand  ~' '~  equipment.model %}
                {% set htPrice = equipment.subcategory.RMESControlPrice %}
            {% elseif controlType == 'Commissioning' %}
                {% set tva = (equipment.subcategory.MESControlPrice)*0.20 %}
                {% set description = 'Controle de mise en service pour ' ~  equipment.brand  ~' '~  equipment.model %}
                {% set htPrice = equipment.subcategory.MESControlPrice %}
            {% else %}
                {% set tva = (equipment.subcategory.PeriodicControlPrice)*0.20 %}
                {% set description = 'Controle périodique pour ' ~ equipment.brand  ~' '~  equipment.model %}
                {% set htPrice = equipment.subcategory.PeriodicControlPrice %}
            {% endif %}
            {% set ttcPrice = tva+htPrice %}
            {% set totalTVA = totalTVA + tva %}
            {% set totalHT = totalHT + htPrice %}
            {% set totalTTC = totalTTC+ ttcPrice %}
            <tr>
                <td>{{ description }}</td>
                <td style="text-align: right">1</td>
                <td style="text-align: right">ctrl</td>
                <td style="text-align: right">{{ htPrice }} €</td>
                <td style="text-align: right">20 %</td>
                <td style="text-align: right">{{ tva }} €</td>
                <td style="text-align: right">{{ ttcPrice }} €</td>
            </tr>
        {% endif %}
        {% endfor %}

        {% endfor %}
        </tbody>
    </table>
    <br>
    <div id="priceResume" style="float: right ">
        <p>Total Hors Taxe : {{ totalHT }} €</p>
        <p>Total TVA : {{ totalTVA }} €</p>
        <p>Total TTC : {{ totalTTC }} €</p>
    </div>
</div>
</body>

{% endblock %}

