{% extends 'base.html.twig' %}


{% block title %}
    Nouvelle Société Cliente
{% endblock %}

{% form_theme clientCompanyForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <div class="navbar navbar-expand-lg col-12 shadow-sm" style="background: #fffffe">
        <a href="{{ path('homePanel') }}">
            <button class="btn btn-outline-primary mx-3"><i class="fal fa-arrow-to-left"></i> Retour</button>
        </a>
        <h5>Gestion des sociétés clientes</h5>
    </div>
    <div class="row">
        <!-- Liste des sociétés clientes  -->
        <div class="col-12 col-md-6 pr-md-0">
            <div class="container">
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <h5>Liste des sociétés clientes</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom de la société</th>
                                <th scope="col">Site Internet</th>
                                <th scope="col">Contacter</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for company in clientCompanyList %}
                                <tr>
                                    <td><a href="{{ path('detail_client_company' , {'id': company.id})}}"> {{ company.name }}</a></td>
                                    <td>{{ company.website }}</td>
                                    <td><a href="mailto:{{ company.email }}">{{ company.email }}</a></td>
                                    <td>
                                        <a href="{{ path('edit_client_company', {'id': company.id}) }}">
                                            <button class="btn btn-outline-success" title="Modifier"><i class="far fa-edit"></i>
                                            </button>
                                        </a>
                                        <a href="{{ path('delete_client_company',{'id':company.id}) }}">
                                            <button class="btn btn-outline-danger" title="Supprimer"><i class="far fa-trash-alt"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ajout d'une société-->
        <div class="col-12 col-md-6 pl-md-0">
            <div class="container">
                <div class="card mt-3 shadow-sm">
                    <div class="card-header">
                        <h5>Ajouter une société cliente</h5>
                     </div>
                    <div class="card-body">
                        {% block form %}
                            {{ form_start(clientCompanyForm) }}
                            {{ form_widget(clientCompanyForm) }}
                            <br>
                            <button type="submit" class="btn btn-outline-primary btn-block">Ajouter la société</button>
                            {{ form_end(clientCompanyForm) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script>

        </script>
    {% endblock %}

{% endblock %}