{# templates/emails/registration.html.twig #}


Bonjour {{ name }},

un compte pour l'application de controle de la société {{ company }} a été créé pour toi :

identifiant : {{ pseudo }}
mot de passe : {{ password }}

Connecte toi ici : <a href="{{ path('login') }}">Login</a>



