<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
              crossorigin="anonymous"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <nav id="topSideBar" class="navbar navbar-expand-lg mr-auto col sticky shadow-sm"
             style="background: #272353; color:#fffffe;">
            <div class="row">
                <div id="brand" class="px-3">
                    <h5 class="my-0"> CONTROLE-LEVAGE </h5>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item active">
                            <a class="nav-link"
                               style="font-weight: bold; color:#bae8e8">Hello {{ app.user.username }}
                                {% if app.user.roles == ['ROLE_CONTROLLER'] %}( Contrôleur ) {% endif %}
                                {% if app.user.roles == ['ROLE_ADMIN'] %}( Admin ) {% endif %}
                                {% if app.user.roles == ['ROLE_SUPER_USER'] %}( Super Admin ) {% endif %}</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="{{ path('logout') }}"
                               style="color: #fffffe; text-decoration: none">Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}



{% block flash %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
        //Remplissage automatique des formulaires
        function formulaireAuto()
        {
            let x = $('input[type="radio"]');
            let i;

            if(($('#auto').html())=='Préremplir')
            {
                for(i=0; i< x.length; i++)
                {
                    if(x[i].value =='B' && x[i].type=='radio')
                    {
                        x[i].checked = true;
                    }
                }
                $('#auto').html('Tout décocher');
            }
            else
            {
                for (i=0; i< x.length; i++)
                {
                    x[i].checked = false;
                }
                $('#auto').html('Préremplir');
            }
        }

        //Remplissage des Observations automatique
        function observationsAuto(id)
        {
            let x = $(id +' input[type="radio"]');
            let i;
            let area="";

            for(i=0; i< x.length; i++)
            {
                if((x[i].value =='D' || x[i].value =='SO') && x[i].checked)
                {
                    area += $('#'+x[i].name).attr('data-val')+" : "+x[i].value +"\n";
                }
            }
            $(id+'Ta').val(area);
        }
    </script>
{% endblock %}
</body>
</html>
